<div class="description-container">
  <div class="left-container">
    <div class="images-container flex justify-start align-start flex-column">
      <div class="initial-image-container flex justify-center align-center padding-10">
        <img [src]="item?.displayedImage? fileBaseUrl+item?.displayedImage : './assets/Images/no-background-image.png'" alt="">
      </div>
      <div class="other-images-container flex justify-start align-center flex-wrap margin-b-30">
        <div class="image-container padding-10" [ngClass]="{'scale-out': activeImageIndex != index}"
          (click)="displaySelectedImage(image, index)" *ngFor="let image of item?.otherImages; let index = index">
          <img [src]="image? fileBaseUrl+image : './assets/Images/no-background-image.png'" alt="">
        </div>
      </div>
    </div>

    <div class="buttons-container flex justify-space-between align-center flex-wrap">
      <div class="button-container flex justify-start align-center flex-wrap margin-tb-6">
        <app-button [value]="item?.isAddedToCart?'Remove from cart' : 'Add to cart'" [color]="'gray'"
          (click)="addRemoveCart()">
        </app-button>
      </div>
      <div class="button-container flex justify-center align-center margin-tb-6">
        <app-button [color]="'blue'" [value]="'Order'" (click)="order()">
        </app-button>
      </div>
    </div>

    <div class="similar-items-container"></div>
  </div>
  <div class="right-container">
    <div class="row-data-container flex justify-space-between align-center">
      <div class="rate-container">
        <app-rate-selector [value]="item?.myRate" (onRateEvent)="onRateItem($event)">
        </app-rate-selector>
      </div>
      <div class="p value font-regular size-small gray-super-dark">{{item?.ratersCount}} people rated this item</div>
    </div>
    <div class="rate-container padding-tb-10">
      <app-badge [color]="'orange'" [value]="item?.rate+'/5'">
      </app-badge>
    </div>
    <div class="row-data-container flex justify-start align-center padding-tb-20">
      <p class="dicount font-regular size-large red-dark margin-r-10">-{{item?.discount}}%</p>
      <p class="price font-medium size-large black"><sup class="size-small">$</sup>{{item?.currentPrice}}</p>
    </div>
    <div class="row-data-container padding-tb-3" *ngIf="item?.oldPrice != -1">
      <p class="dicount font-medium size-regular black">Was: <span
          class="old-price font-medium size-small gray-dark line-through">${{item?.oldPrice}}</span></p>
    </div>
    <div class="row-data-container padding-tb-10" *ngIf="item?.notes">
      <p class="note font-medium size-regular cyan-dark" *ngFor="let note of item?.notes">{{note}}</p>
    </div>
    <div class="row-data-container categories-row-data padding-tb-10" *ngIf="item?.categories">
      <app-slider [scrollAmount]="130">
        <app-chip [value]="category" [color]="'blue'" *ngFor="let category of item?.categories">
        </app-chip>
      </app-slider>
    </div>
    <div class="row-data-container justify-start align-start flex-wrap margin-tb-3" *ngIf="item?.colors.length > 0">
      <div class="text-container">
        <p class="value text-start font-medium size-regular black">Colors</p>
      </div>
      <div class="colors-container flex justify-start align-center flex-wrap padding-t-1">
        <div class="color-container margin-r-10 margin-b-10" [ngStyle]="{'background-color': color}"
          *ngFor="let color of item?.colors"></div>
      </div>
    </div>
    <div class="row-data-container justify-start align-start flex-wrap margin-tb-3" *ngIf="item?.sizes.length > 0">
      <div class="text-container">
        <p class="value text-start font-medium size-regular black">Sizes</p>
      </div>
      <div class="sizes-container flex justify-start align-center flex-wrap padding-t-1">
        <div class="size-container flex justify-center align-center font-medium size-small gray-super-dark margin-r-10 margin-tb-20 padding-20"
          *ngFor="let size of item?.sizes">{{(size | numberFormat: "isNumber")? 'No. ' + size : size}}</div>
      </div>
    </div>
    <div class="row-data-container justify-start align-start flex-wrap margin-tb-3" *ngIf="item?.colorSizes.length > 0">
      <div class="text-container">
        <p class="value text-start font-medium size-regular black">Colors & Sizes</p>
      </div>
      <div class="colors-sizes-container padding-t-1">
        <div class="color-sizes-container flex justify-start align-center flex-wrap padding-t-10" *ngFor="let colorSize of item?.colorSizes">
          <div class="color-container margin-r-10 margin-b-10" [ngStyle]="{'background-color': colorSize?.value}"></div>
          <div class="size-container flex justify-center align-center font-medium size-small gray-super-dark margin-r-10 margin-b-10 gray-super-dark margin-r-10 margin-tb-20 padding-20" *ngFor="let size of colorSize?.sizes">{{(size | numberFormat: "isNumber")? 'No. '+size : size}}</div>
        </div>
      </div>
    </div>

    <div class="row-data-container flex justify-start align-center flex-wrap margin-t-20">
      <app-chip [value]="item?.countLikes+' Likes'" [color]="'gray'" [icon]="item?.isLiked? 'full-heart' : 'heart'"
        (onClickEvent)="likeDislike()">
      </app-chip>
      <app-chip [value]="item?.countOrders+' Orders'" [color]="'gray'">
      </app-chip>
    </div>
    <div class="row-data-container">
      <div class="description text-start font-regular size-regular gray-super-dark margin-tb-10" [innerHtml]="item?.description">
      </div>
    </div>
  </div>
</div>

<div class="comments-container fixed">
  <div class="comments-inner-container relative">
    <div class="header-container flex justify-space-between align-center" [ngClass]="{'open': isCommentSectionOpened}" (click)="openCommentsSection()">
      <div class="title-container padding-lr-10">
        <p class="text text-start font-medium size-small black">Comments ({{comments.length}})</p>
      </div>
      <div class="open-close-container flex justify-center align-center">
        <mat-icon class="icon gray-super-dark" svgIcon="arrow-right"></mat-icon>
      </div>
    </div>

    <div class="cards-container padding-lr-10" [ngClass]="{'visible': isCommentSectionOpened}">
      <div class="card-container" *ngFor="let comment of comments">
        <app-comment-card [data]="comment" (onDeleteEvent)="deleteComment($event)"></app-comment-card>
      </div>
    </div>

    <div class="input-container absolute relative" [ngClass]="{'visible': isCommentSectionOpened}">
      <app-text-field
        [placeholder]="'Add a comment...'"
        [formControl]="commentForm.controls['comment']"
        (onInputEvent)="setValue('comment', $event)">
      </app-text-field>
      <div class="send-container flex justify-center align-center padding-b-1 absolute" (click)="addComment()">
        <p class="value text-center font-regular size-small gray-super-dark">Send</p>
      </div>
    </div>
  </div>
</div>
