<div class="parent-container">
  <div class="inner-container flex justify-start align-start flex-column">
    <div class="header-container flex justify-start align-center margin-tb-30">
      <div class="text-container flex justify-center align-center flex-column">
        <p class="header text-center font-black size-extra-large black">Post Item</p>
        <p class="sub-header text-center font-regular size-regular gray margin-tb-10">
          Welcome to the Product Addition Page! This is the place where you can effortlessly expand your inventory.
          This page makes the process smooth and intuitive. Enter the item name, specify essential details, such as
          description and price, and let
          your customers explore your ever-growing collection.
        </p>
      </div>
    </div>

    <div class="section body-container padding-30 margin-tb-50">
      <div class="left-container">
        <div class="images-container flex justify-start align-start flex-column">
          <div class="initial-image-container flex justify-center align-center margin-10 relative">
            <img
              [src]="inputForm.controls['initialImage'].value? (inputForm.controls['initialImage'].value.id? inputForm.controls['initialImage'].value.url : inputForm.controls['initialImage'].value) : './assets/Images/no-background-image.png'"
              alt="">
            <input type="file" class="absolute" accept="image/*"
              (input)="onItemImage('initialImage', $event, -1, inputForm.controls['initialImage'].value.id)" />
            <div class="delete-container flex justify-center align-center padding-3 absolute" *ngIf="inputForm.controls['initialImage'].value">
              <mat-icon class="icon red" svgIcon="circle-minus" (click)="onItemImageDelete(inputForm.controls['initialImage'].value.id)"></mat-icon>
            </div>
          </div>
          <div class="other-images-container flex justify-start align-center flex-wrap margin-b-30"
            *ngIf="item || postItemForm.controls['initialImage'].value">
            <div class="image-container margin-10 relative"
              *ngFor="let image of inputForm.controls['images'].value; let index = index">
              <img [src]="image? (image.id? image.url : image) : './assets/Images/no-background-image.png'" alt="">
              <input type="file" class="absolute" accept="image/*"
                (input)="onItemImage('images', $event, index, image.id)" />
              <div class="delete-container flex justify-center align-center padding-3 absolute">
                <mat-icon class="icon red" svgIcon="circle-minus" (click)="onItemImageDelete(image.id, index)"></mat-icon>
              </div>
            </div>
            <div
              class="add-image-container flex justify-center align-center font-bold size-semi-large blue margin-lr-10 padding-b-4 relative">
              +
              <input type="file" class="absolute" accept="image/*" (input)="onItemImage('images', $event)" />
            </div>
          </div>
        </div>
        <div class="section color-size-container">
          <div class="filters-container flex justify-start align-center">
            <div
              class="selector-container flex justify-center align-center font-regular size-semi-small gray-super-dark padding-10 margin-lr-10"
              [ngClass]="{'active': colorSizeIndex == 0}" (click)="setColorSizeIndex(0)">
              Colors
            </div>
            <div
              class="selector-container flex justify-center align-center font-regular size-semi-small gray-super-dark padding-10 margin-lr-10"
              [ngClass]="{'active': colorSizeIndex == 1}" (click)="setColorSizeIndex(1)">
              Sizes (No.)
            </div>
            <div
              class="selector-container flex justify-center align-center font-regular size-semi-small gray-super-dark padding-10 margin-lr-10"
              [ngClass]="{'active': colorSizeIndex == 2}" (click)="setColorSizeIndex(2)">
              Sizes (Code)
            </div>
            <div
              class="selector-container flex justify-center align-center font-regular size-semi-small gray-super-dark padding-10 margin-lr-10"
              [ngClass]="{'active': colorSizeIndex == 3}" (click)="setColorSizeIndex(3)">
              Color & Sizes
            </div>
            <div
              class="selector-container flex justify-center align-center font-regular size-semi-small gray-super-dark padding-10 margin-lr-10"
              [ngClass]="{'active': colorSizeIndex == 4}" (click)="setColorSizeIndex(4)">
              Quantity
            </div>
          </div>

          <div class="colors-container padding-tb-20 padding-lr-10" *ngIf="colorSizeIndex == 0">
            <div class="inputs-container flex justify-space-between align-start">
              <div class="input-form">
                <app-color-field [color]="inputForm.controls['color'].value" [formControl]="inputForm.controls['color']"
                  (onInputEvent)="setValue(inputForm, 'color', $event)">
                </app-color-field>
              </div>
              <div class="button-container">
                <app-button [color]="'gray'" [value]="'+ Add Color'" (click)="setInputValueList('color', 'colors')">
                </app-button>
              </div>
            </div>

            <div class="results-container margin-b-10 margin-t-30">
              <div class="selected-option flex justify-start align-center margin-tb-10"
                *ngFor="let color of postItemForm.controls['colors'].value; let index = index">

                <div class="delete-container flex justify-center align-center margin-r-10">
                  <mat-icon class="icon red padding-t-6" svgIcon="circle-minus"
                    (click)="deleteInput('colors', index)"></mat-icon>
                </div>

                <div class="color-container margin-lr-10 padding-10" [ngStyle]="{'background-color' : color.value}">
                </div>

                <div class="quantity-container">
                  <app-button-quantity [quantity]="color.quantity" [maxQuantity]="999999999"
                    (onCounterClick)="updateInputQuantity('colors', $event, index)">
                  </app-button-quantity>
                </div>
              </div>
            </div>
          </div>

          <div class="sizes-container padding-tb-20 padding-lr-10" *ngIf="colorSizeIndex == 1">
            <div class="inputs-container flex justify-space-between align-start">
              <div class="input-form">
                <app-number-field [min]="0" [max]="99999999999999" [formControl]="inputForm.controls['sizeNumber']"
                  (onInputEvent)="setValue(inputForm, 'sizeNumber', $event)">
                </app-number-field>
              </div>
              <div class="button-container">
                <app-button [color]="'gray'" [value]="'+ Add Size'" (click)="setInputValueList('sizeNumber', 'sizes')">
                </app-button>
              </div>
            </div>

            <div class="results-container margin-b-10 margin-t-30">
              <div class="selected-option flex justify-start align-center margin-tb-10"
                *ngFor="let size of postItemForm.controls['sizes'].value; let index = index">

                <div class="delete-container flex justify-center align-center margin-r-10">
                  <mat-icon class="icon red padding-t-6" svgIcon="circle-minus"
                    (click)="deleteInput('sizes', index)"></mat-icon>
                </div>

                <div
                  class="size-container flex justify-center align-center font-medium size-small white margin-lr-10 padding-lr-10">
                  No. {{size.number}}
                </div>

                <div class="quantity-container">
                  <app-button-quantity [quantity]="size.quantity" [maxQuantity]="999999999"
                    (onCounterClick)="updateInputQuantity('sizes', $event, index)">
                  </app-button-quantity>
                </div>
              </div>
            </div>
          </div>

          <div class="sizes-container padding-tb-20 padding-lr-10" *ngIf="colorSizeIndex == 2">
            <div class="inputs-container flex justify-space-between align-start">
              <div class="input-form">
                <app-select-field [data]="sizeCodes" [placeholder]="'Select Code'"
                  [formControl]="inputForm.controls['sizeCode']"
                  (onSelectEvent)="setValue(inputForm, 'sizeCode', $event)">
                </app-select-field>
              </div>
              <div class="button-container">
                <app-button [color]="'gray'" [value]="'+ Add Size'" (click)="setInputValueList('sizeCode', 'sizes')">
                </app-button>
              </div>
            </div>

            <div class="results-container margin-b-10 margin-t-30">
              <div class="selected-option flex justify-start align-center margin-tb-10"
                *ngFor="let size of postItemForm.controls['sizes'].value; let index = index">

                <div class="delete-container flex justify-center align-center margin-r-10">
                  <mat-icon class="icon red padding-t-6" svgIcon="circle-minus"
                    (click)="deleteInput('sizes', index)"></mat-icon>
                </div>

                <div
                  class="size-container flex justify-center align-center font-medium size-small white margin-lr-10 padding-lr-10">
                  {{size.code}}
                </div>

                <div class="quantity-container">
                  <app-button-quantity [quantity]="size.quantity" [maxQuantity]="999999999"
                    (onCounterClick)="updateInputQuantity('sizes', $event, index)">
                  </app-button-quantity>
                </div>
              </div>
            </div>
          </div>

          <div class="colors-sizes-container padding-tb-20 padding-lr-10" *ngIf="colorSizeIndex == 3">
            <div class="inputs-container flex justify-space-between align-start">
              <div class="input-form">
                <app-color-field [color]="inputForm.controls['colorSizes'].value.value"
                  [formControl]="inputForm.controls['colorSizes']"
                  (onInputEvent)="setValue(inputForm, 'colorSizes', $event)">
                </app-color-field>
              </div>
              <div class="button-container flex justify-end align-center">
                <app-button [color]="'gray'" [value]="'+ Add Color'"
                  (click)="setInputValueList('colorSizes', 'colorSizes')"></app-button>
              </div>
            </div>


            <div class="results-container margin-b-10 margin-t-30">
              <div class="selected-option margin-tb-10"
                *ngFor="let colorSize of postItemForm.controls['colorSizes'].value; let index = index">
                <div class="color-filters-container flex justify-start align-center">
                  <div class="delete-container flex justify-center align-center margin-r-10">
                    <mat-icon class="icon red padding-t-6" svgIcon="circle-minus"
                      (click)="deleteInput('colorSizes', index)"></mat-icon>
                  </div>

                  <div class="color-container margin-lr-10 padding-10"
                    [ngStyle]="{'background-color' : colorSize.value}"></div>

                  <div class="filters-container flex justify-end align-center">
                    <div
                      class="filter-container flex justify-center align-center font-medium size-small padding-10 margin-l-6 gray-super-dark"
                      [ngClass]="{'active': colorSize.index == 0 }" (click)="setColorSizesIndex(0, index)">Code</div>
                    <div
                      class="filter-container flex justify-center align-center font-medium size-small padding-10 margin-l-6 gray-super-dark"
                      [ngClass]="{'active': colorSize.index == 1 }" (click)="setColorSizesIndex(1, index)">Number</div>
                  </div>
                </div>

                <div class="inputs-container flex justify-end align-center margin-t-15">
                  <div class="input-form" *ngIf="colorSize.index == 0">
                    <app-select-field [data]="sizeCodes" [placeholder]="'Select Code'"
                      [formControl]="inputForm.controls['sizeCode']"
                      (onSelectEvent)="addColorSize(colorSize.index, index, $event)">
                    </app-select-field>
                  </div>
                  <div class="input-form" *ngIf="colorSize.index == 1">
                    <app-number-field [min]="0" [max]="99999999999999" [formControl]="inputForm.controls['sizeNumber']"
                      [setClickEvent]="true" (onClickEvent)="addColorSize(colorSize.index, index, $event)">
                    </app-number-field>
                  </div>
                </div>

                <div class="selected-option flex justify-start align-center margin-tb-30">
                  <div class="chip-container margin-lr-10" *ngFor="let size of colorSize.sizes; let sizeIndex = index">
                    <app-selector-chip class="margin-r-10" [color]="'blue'"
                      [value]="colorSize.index == 0? size.code : 'No. '+size.number"
                      (onDelete)="onSizeChipDelete(index, sizeIndex)">
                    </app-selector-chip>

                    <div class="quantity-container">
                      <app-button-quantity [quantity]="size.quantity" [maxQuantity]="999999999"
                        (onCounterClick)="updateColorSizeQuantity($event, index, sizeIndex)">
                      </app-button-quantity>
                    </div>
                  </div>
                </div>

              </div>

            </div>

          </div>

          <div class="colors-sizes-container padding-tb-20 padding-lr-10" *ngIf="colorSizeIndex == 4">
            <div class="inputs-container flex justify-space-between align-start">
              <p class="text text-start font-regular size-regular gray-dark">Item quantity</p>
              <app-button-quantity [quantity]="postItemForm.controls['quantity'].value" [maxQuantity]="999999999"
                (onCounterClick)="setValue(postItemForm, 'quantity', $event)">
              </app-button-quantity>
            </div>
          </div>

        </div>
      </div>
      <div class="right-container">
        <div class="text-container">
          <p class="text text-start font-medium size-regular gray-super-dark text-start padding-tb-10 ellipse-1">Item
            name</p>
        </div>
        <div class="inputs-container">
          <div class="input-form margin-b-10">
            <app-text-field [placeholder]="'Type the name . . .'" [formControl]="postItemForm.controls['name']"
              (onInputEvent)="setValue(postItemForm, 'name', $event)">
            </app-text-field>
          </div>
          <div class="input-form margin-b-10">
            <app-text-editor [placeholder]="'Item description'" [formControl]="postItemForm.controls['description']"
              [isBold]="true" [isItalic]="true" [isOrderedList]="true" [isUnorderedList]="true"
              (onInputEvent)="setValue(postItemForm, 'description', $event)">
            </app-text-editor>
          </div>
          <div class="input-form margin-b-10">
            <div class="text-container">
              <p class="text text-start font-medium size-regular gray-super-dark text-start padding-tb-10 ellipse-1">
                Item Categories</p>
            </div>
            <app-select-field [placeholder]="'Select category'" [data]="categories"
              [formControl]="postItemForm.controls['categories']" (onSelectEvent)="setValueList('categories', $event)">
            </app-select-field>
            <div class="chips-container flex justify-start align-start flex-wrap margin-tb-10">
              <app-selector-chip class="margin-r-10 margin-b-10" [color]="'blue'" [value]="category.value"
                (onDelete)="onChipDelete('categories', index)"
                *ngFor="let category of postItemForm.controls['categories'].value; let index = index">
              </app-selector-chip>
            </div>
          </div>
          <div class="price-container flex justify-space-between align-center margin-b-10">
            <div class="left-container flex justify-start align-center">
              <div class="input-form margin-r-10">
                <div class="text-container">
                  <p
                    class="text text-start font-medium size-regular gray-super-dark text-start padding-tb-10 ellipse-1">
                    Price</p>
                </div>
                <app-number-field [min]="0" [formControl]="postItemForm.controls['price']"
                  (onInputEvent)="setValue(postItemForm, 'price', $event)">
                </app-number-field>
              </div>
              <div class="input-form margin-r-10">
                <div class="text-container">
                  <p
                    class="text text-start font-medium size-regular gray-super-dark text-start padding-tb-10 ellipse-1">
                    Discount</p>
                </div>
                <app-number-field [min]="0" [max]="100" [formControl]="postItemForm.controls['discount']"
                  (onInputEvent)="setValue(postItemForm, 'discount', $event)">
                </app-number-field>
              </div>
            </div>
            <div class="right-container">
              <div class="text-container">
                <p class="text text-end font-medium size-regular gray-super-dark text-start padding-tb-10 ellipse-1">
                  Final Price</p>
              </div>
              <div class="text-container flex justify-end align-center">
                <p class="discount text text-start font-regular size-medium red margin-r-10">-
                  %{{postItemForm.controls['discount'].value}}</p>
                <p class="text text-start font-bold size-medium black text-start padding-tb-10 ellipse-1">$ {{
                  postItemForm.controls['price'].value - (postItemForm.controls['price'].value *
                  (postItemForm.controls['discount'].value / 100)) | numberFormat}}</p>
              </div>
            </div>
          </div>
          <div class="notes-container">
            <div class="text-container">
              <p class="text text-start font-medium size-regular gray-super-dark text-start padding-tb-10 ellipse-1">
                Notes <span class="red size-small">*optional</span></p>
            </div>
            <div class="note-container flex justify-space-between align-start margin-tb-10 padding-tb-10"
              *ngFor="let note of postItemForm.controls['notes'].value; let index = index">
              <div class="text-container">
                <p class="text text-start font-medium size-regular padding-r-10 black">{{note}}</p>
              </div>
              <div class="delete-note-container flex justify-center align-center">
                <mat-icon class="icon red" svgIcon="circle-minus" (click)="deleteInput('notes', index)"></mat-icon>
              </div>
            </div>
            <div class="add-note-container margin-tb-10 padding-tb-10">
              <div class="inputs-container">
                <div class="input-form margin-b-10">
                  <app-text-field [placeholder]="'Add note ...'" [formControl]="inputForm.controls['note']"
                    (onInputEvent)="setValue(inputForm, 'note', $event)">
                  </app-text-field>
                </div>
              </div>
              <div class="button-container margin-tb-10 padding-tb-10"
                (click)="setValueList('notes', inputForm.controls['note'].value, false, inputForm.controls['note'].value)">
                <p class="text text-center font-medium size-medium blue">+ Add Note</p>
              </div>
            </div>
          </div>
          <div class="submit-container flex justify-end align-center padding-tb-10 margin-t-30">
            <app-button [color]="'blue'" [value]="!item? 'Add Item' : 'Update Item'"
              (click)="addUpdateItem()"></app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
