<div class="parent-container">
  <div class="inner-container flex justify-start align-start flex-column">
    <div class="header-container flex justify-start align-center margin-tb-30">
      <div class="text-container flex justify-center align-center flex-column">
        <p class="header text-center font-black size-extra-large black">Post Item</p>
        <p class="sub-header text-center font-regular size-regular gray margin-tb-10">
          Welcome to the Product Addition Page! This is the place where you can effortlessly expand your inventory.
          This page makes the process smooth and intuitive. Enter the item name, specify essential details, such as
          description and price, and let
          your customers explore your ever-growing collection.
        </p>
      </div>
    </div>

    <div class="section body-container padding-30 margin-tb-50">
      <div class="left-container">
        <div class="images-container flex justify-start align-start flex-column">
          <div class="initial-image-container flex justify-center align-center padding-10">
            <img src="./assets/Images/no-background-image.png" alt="">
          </div>
          <div class="other-images-container flex justify-start align-center flex-wrap margin-b-30">
            <div class="image-container padding-10" [ngClass]="{'scale-out': true}" (click)="null"
              *ngFor="let image of []; let index = index">
              <img src="./assets/Images/no-background-image.png" alt="">
            </div>
            <div
              class="add-image-container flex justify-center align-center font-bold size-semi-large blue margin-lr-10 padding-b-4"
              (click)="null">+</div>
          </div>
        </div>
        <div class="section color-size-container">
          <div class="filters-container flex justify-start align-center">
            <div
              class="selector-container flex justify-center align-center font-regular size-semi-small gray-super-dark padding-10 margin-lr-10"
              [ngClass]="{'active': colorSizeIndex == 0}" (click)="setColorSizeIndex(0)">
              Colors
            </div>
            <div
              class="selector-container flex justify-center align-center font-regular size-semi-small gray-super-dark padding-10 margin-lr-10"
              [ngClass]="{'active': colorSizeIndex == 1}" (click)="setColorSizeIndex(1)">
              Sizes (No.)
            </div>
            <div
              class="selector-container flex justify-center align-center font-regular size-semi-small gray-super-dark padding-10 margin-lr-10"
              [ngClass]="{'active': colorSizeIndex == 2}" (click)="setColorSizeIndex(2)">
              Sizes (Code)
            </div>
            <div
              class="selector-container flex justify-center align-center font-regular size-semi-small gray-super-dark padding-10 margin-lr-10"
              [ngClass]="{'active': colorSizeIndex == 3}" (click)="setColorSizeIndex(3)">
              Color & Sizes
            </div>
          </div>

          <div class="colors-container flex justify-start align-start flex-wrap padding-tb-20 padding-lr-10"
            *ngIf="colorSizeIndex == 0">
            <div class="color-boxes flex justify-start align-center padding-r-10"
              *ngIf="postItemForm.controls['colors'].value.length > 0">
              <div class="color-box margin-r-10 margin-b-10" [ngStyle]="{'background-color': color}"
                (click)="colorInput = color; colorFormControl.setValue(colorInput); onColorDelete = true;"
                *ngFor="let color of postItemForm.controls['colors'].value"></div>
            </div>

            <div class="inputs-container flex justify-start align-center">
              <div class="input-form margin-r-10">
                <app-color-field [color]="colorInput" [formControl]="colorFormControl" (click)="onColorDelete = false"
                  (onInputEvent)="colorInput = $event; onColorDelete = false"></app-color-field>
              </div>
              <div class="flex justify-center align-center font-bold size-medium blue padding-b-3 margin-r-10"
                [ngClass]="{'add-box blue' : !onColorDelete, 'delete-box red' : onColorDelete}"
                (click)="setValueList('colors', colorInput, (!onColorDelete? false : true), false); colorInput = ''; onColorDelete = false;">
                {{!onColorDelete? '+' : '-'}}
              </div>
            </div>
          </div>

          <div class="sizes-container flex justify-start align-start flex-wrap padding-tb-20 padding-lr-10"
            *ngIf="colorSizeIndex == 1">
            <div class="size-boxes flex justify-start align-center padding-r-10"
              *ngIf="postItemForm.controls['sizes'].value.length > 0">
              <div class="size-box flex justify-center align-center font-regular size-small blue margin-r-10 margin-b-10 padding-lr-10"
                  (click)="sizeInput = size; sizeNumberFormControl.setValue(sizeInput); onSizeDelete = true"
                  *ngFor="let size of postItemForm.controls['sizes'].value">
                No. {{size}}
              </div>
            </div>

            <div class="inputs-container flex justify-start align-center">
              <div class="input-form size-number-input-form relative margin-r-10">
                <div class="note-container flex justify-center align-center font-medium size-semi-small gray-super-dark padding-b-1 absolute">No.</div>
                <app-number-field [min]="0" [formControl]="sizeNumberFormControl" (click)="onSizeDelete = false"
                  (onInputEvent)="sizeInput = $event; onSizeDelete = false"></app-number-field>
              </div>
              <div class="add-box flex justify-center align-center font-bold size-medium blue padding-b-3 margin-r-10"
                [ngClass]="{'add-box blue' : !onSizeDelete, 'delete-box red' : onSizeDelete}"
                (click)="setValueList('sizes', sizeInput, (!onSizeDelete? false : true), false); sizeInput = 0; sizeNumberFormControl.setValue(sizeInput); onSizeDelete = false;">
                {{!onSizeDelete? '+' : '-'}}
              </div>
            </div>
          </div>

          <div class="sizes-container flex justify-start align-start flex-wrap padding-tb-20 padding-lr-10"
            *ngIf="colorSizeIndex == 2">
            <div class="size-boxes flex justify-start align-center padding-r-10"
              *ngIf="postItemForm.controls['sizes'].value.length > 0">
              <div class="size-box flex justify-center align-center font-regular size-small blue margin-r-10 margin-b-10 padding-lr-10"
                  (click)="sizeInput = size; sizeNumberFormControl.setValue(sizeInput); onSizeDelete = true"
                  *ngFor="let size of postItemForm.controls['sizes'].value">
                  {{size}}
              </div>
            </div>

            <div class="inputs-container flex justify-start align-center">
              <div class="input-form size-number-input-form relative margin-r-10">
              </div>

              <div class="add-box flex justify-center align-center font-bold size-medium blue padding-b-3 margin-r-10"
                [ngClass]="{'add-box blue' : !onSizeDelete, 'delete-box red' : onSizeDelete}"
                (click)="setValueList('sizes', sizeInput, (!onSizeDelete? false : true), false); sizeInput = ''; onSizeDelete = false;">
                {{!onSizeDelete? '+' : '-'}}
              </div>
            </div>
          </div>

          <div class="colors-sizes-container padding-20" *ngIf="colorSizeIndex == 3">
          </div>
        </div>
      </div>
      <div class="right-container">
        <div class="text-container">
          <p class="text text-start font-medium size-regular gray-super-dark text-start padding-tb-10 ellipse-1">Item
            name</p>
        </div>
        <div class="inputs-container">
          <div class="input-form margin-b-10">
            <app-text-field [placeholder]="'Type the name . . .'" [formControl]="postItemForm.controls['name']"
              (onInputEvent)="setValue('name', $event)">
            </app-text-field>
          </div>
          <div class="input-form margin-b-10">
            <app-text-editor [placeholder]="'Item description'" [formControl]="postItemForm.controls['description']"
              [isBold]="true" [isItalic]="true" [isOrderedList]="true" [isUnorderedList]="true"
              (onInputEvent)="setValue('description', $event)">
            </app-text-editor>
          </div>
          <div class="input-form margin-b-10">
            <div class="text-container">
              <p class="text text-start font-medium size-regular gray-super-dark text-start padding-tb-10 ellipse-1">
                Item Categories</p>
            </div>
            <app-select-field [placeholder]="'Select category'" [data]="categories"
              [formControl]="postItemForm.controls['categories']" (onSelectEvent)="setValueList('categories', $event)">
            </app-select-field>
            <div class="chips-container flex justify-start align-start flex-wrap margin-tb-10">
              <app-selector-chip class="margin-r-10" [color]="'blue'" [value]="category.value"
                (onDelete)="onChipDelete('categories', index)"
                *ngFor="let category of postItemForm.controls['categories'].value; let index = index">
              </app-selector-chip>
            </div>
          </div>
          <div class="price-container flex justify-space-between align-center margin-b-10">
            <div class="left-container flex justify-start align-center">
              <div class="input-form margin-r-10">
                <div class="text-container">
                  <p
                    class="text text-start font-medium size-regular gray-super-dark text-start padding-tb-10 ellipse-1">
                    Price</p>
                </div>
                <app-number-field [min]="0" [formControl]="postItemForm.controls['price']"
                  (onInputEvent)="setValue('price', $event)">
                </app-number-field>
              </div>
              <div class="input-form margin-r-10">
                <div class="text-container">
                  <p
                    class="text text-start font-medium size-regular gray-super-dark text-start padding-tb-10 ellipse-1">
                    Discount</p>
                </div>
                <app-number-field [min]="0" [max]="100" [formControl]="postItemForm.controls['discount']"
                  (onInputEvent)="setValue('discount', $event)">
                </app-number-field>
              </div>
            </div>
            <div class="right-container">
              <div class="text-container">
                <p class="text text-end font-medium size-regular gray-super-dark text-start padding-tb-10 ellipse-1">
                  Final Price</p>
              </div>
              <div class="text-container flex justify-end align-center">
                <p class="discount text text-start font-regular size-medium red margin-r-10">-
                  %{{postItemForm.controls['discount'].value}}</p>
                <p class="text text-start font-bold size-medium black text-start padding-tb-10 ellipse-1">$ {{
                  postItemForm.controls['price'].value - (postItemForm.controls['price'].value *
                  (postItemForm.controls['discount'].value / 100)) | numberFormat}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
