.parent-container{
  .inner-container{
    .header-container{
      width: 100%;
      .text-container{
        width: 100%;
        .sub-header{
          width: 60%;
        }
      }
    }

    .body-container{
      width: 100%;
      display: grid;
      grid-template-columns: 45% 55%;
      grid-gap: 30px;
      animation: fade-in 0.3s;

      .left-container{
        .images-container {
          width: 100%;
          height: auto;

          .initial-image-container {
            width: 100%;
            height: 400px;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 10px;
              cursor: pointer;
            }
            .delete-container{
              top: -30px;
              right: 10px;
            }
          }

          .other-images-container {
            width: 100%;
            height: auto;

            .image-container {
              width: 100px;
              height: 64px;
              cursor: pointer;
              transition: 0.3s ease-in-out;
              overflow: hidden;

              img {
                border-radius: 10px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                cursor: pointer;
                overflow: hidden;
              }
              .delete-container{
                top: -30px;
                right: 3px;
              }
            }
            .add-image-container{
                width: 70px;
                height: 45px;
                border-radius: 10px;
                cursor: pointer;
                border: 2px dashed var(--blue);
            }
          }

          input{
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
            padding: 10px;
            left: 0;
            top: 0;
            &::file-selector-button {
              height: 100%;
              cursor: pointer;
            }
          }
        }
        .color-size-container{
          width: 100%;
          .filters-container{
            width: 100%;
            .selector-container{
              width: 100px;
              height: 35px;
              cursor: pointer;
              border-radius: 10px;
              background-color: var(--gray-light);
              border: 1px solid var(--gray);
              transition: 0.3s ease-in-out;
              &.active{
                background-color: var(--blue);
                transition: 0.3s ease-in-out;
                color: var(--white);
                border: 1px solid var(--white);
              }
            }
          }

          .colors-container, .sizes-container, .colors-sizes-container{
            transition: 0.3s ease-in-out;
            animation: fade-in 0.3s ease-in-out;
            .inputs-container{
              width: 100%;
              .input-form{
                width: 130px;
              }
            }

            .results-container{
              width: 100%;
              height: fit-content;
              .selected-option{
                width: 100%;
                .delete-container{
                  .icon{
                    cursor: pointer;
                    width: 19px;
                    height: auto;
                  }
                }
                .color-container{
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;
                }
                .size-container{
                  min-width: 30px;
                  width: fit-content;
                  height: 30px;
                  border-radius: 6px;
                  background-color: var(--blue);
                }
              }
            }
          }
        }
      }
      .right-container{
        width: 100%;
      }
    }
  }
}
