.parent-container{
  .inner-container{
    .left-container{
      width: 100%;
      max-width: 330px;
      .section{
        .item-card-container{
          width: 100%;
        }
      }
    }
    .right-container{
      width: 100%;
      height: fit-content;
      .item-cards-container{
        width: 100%;
        .item-card-container{
          width: 100%;
          max-width: 300px;
        }
      }
    }
  }
}

@media (max-width: 1065px) {
  .parent-container{
    .inner-container{
      display: block;
      .left-container,.right-container{
        .section{
          .text-container{
            justify-content: center;
            .title{
              font-size: 20px;
            }
          }
        }
      }
      .left-container{
        max-width: none;
      }
      .right-container{
        .section{
          .item-cards-container{
            justify-content: center;
            .item-card-container{
              max-width: none;
            }
          }
        }
      }
    }
  }

}
