<div class="parent-container">
  <div class="inner-container flex justify-start align-start">
    <div class="left-container padding-tb-20 padding-lr-10">
      <div class="section shadow padding-20 margin-b-50">
        <div class="text-container flex jusitfy-start align-center">
          <p class="title text-start font-extra-bold size-medium black capitalize">Top-Selling item</p>
        </div>
        <div class="item-card-container flex justify-center align-center">
          <app-item-basic-card></app-item-basic-card>
        </div>
      </div>

      <div class="section shadow padding-20 margin-b-10">
        <div class="text-container flex justify-start align-center">
          <p class="title text-start font-extra-bold size-medium black capitalize">Overview</p>
        </div>
        <div class="overview-cards-container flex justify-center align-center flex-wrap margin-tb-10">
          <div class="overview-card-container padding-10" *ngFor="let overview of overviews">
            <app-overview-card></app-overview-card>
          </div>
        </div>
      </div>
    </div>
    <div class="right-container padding-tb-20 padding-lr-10">

      <div class="section shadow items-container padding-20 margin-b-50">
        <div class="text-container flex jusitfy-start align-center">
          <p class="title text-start font-extra-bold size-medium black capitalize">Items</p>
        </div>
        <app-pager
          [itemPerPage]="itemsData.dataPerPage"
          [config]="{button: {color: 'black', path: '', value: 'View All Items'}, dataCount: itemsData.count}"
          (onSetPage)="getPagingData('items', $event)">
          <div class="item-cards-container flex justify-start align-center flex-wrap">
            <div class="item-card-container flex justify-center align-center padding-lr-10"
              *ngFor="let item of itemsData.data">
              <app-item-basic-card></app-item-basic-card>
            </div>
          </div>
        </app-pager>
      </div>

      <div class="section shadow items-container padding-20 margin-b-50">
        <div class="text-container flex jusitfy-start align-center">
          <p class="title text-start font-extra-bold size-medium black capitalize">Stores</p>
        </div>
        <app-pager
          [itemPerPage]="storesData.dataPerPage"
          [config]="{button: {color: 'black', path: '', value: 'View All Stores'}, dataCount: storesData.count}"
          (onSetPage)="getPagingData('stores', $event)">
          <div class="item-cards-container flex justify-start align-center flex-wrap">
            <div class="item-card-container flex justify-center align-center padding-lr-10"
              *ngFor="let store of storesData.data">
              <app-store-moderate-card></app-store-moderate-card>
            </div>
          </div>
        </app-pager>
      </div>

      <div class="section shadow items-container padding-20 margin-b-50">
        <div class="text-container flex jusitfy-start align-center">
          <p class="title text-start font-extra-bold size-medium black capitalize">Recent Orders</p>
        </div>
        <app-pager
          [itemPerPage]="ordersData.dataPerPage"
          [config]="{button: {color: 'black', path: '', value: 'View All Orders'}, dataCount: ordersData.count}"
          (onSetPage)="getPagingData('orders', $event)">
          <div class="item-cards-container flex justify-start align-center flex-wrap">
            <div class="item-card-container flex justify-center align-center padding-r-30"
              *ngFor="let order of ordersData.data">

            </div>
          </div>
        </app-pager>
      </div>

    </div>
  </div>
</div>
