<div class="parent-container">
  <div class="inner-container flex justify-center align-start">
    <div class="body-container margin-tb-30">
      <div class="images-container relative">
        <div class="background-image-container">
          <img [src]="fileBaseUrl+store?.backgroundImage" alt="">
        </div>
        <div class="profile-image-container absolute">
          <img [src]="fileBaseUrl+store?.profileImage" class="padding-10" alt="">
        </div>
      </div>
      <div class="info-container margin-t-30 padding-lr-20 relative">
        <div class="edit-container absolute">
          <mat-icon class="icon gray-light" svgIcon="pen"></mat-icon>
        </div>
        <div class="text-container">
          <p class="name text-start font-extra-bold size-semi-large black">{{store?.name}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
