<div class="dialog-container padding-tb-10 padding-lr-50 relative">
  <div class="text-container flex justify-center align-center">
    <p class="title text-center font-bold size-medium black">Edit Profile</p>
  </div>
  <div class="content-container flex justify-start align-start padding-tb-30 margin-tb-30">
    <div class="left-container padding-lr-10">
      <div class="images-container relative">
        <div class="background-image-container relative">
          <img [src]="editProfileForm.controls['backgroundImage'].value? editProfileForm.controls['backgroundImage'].value: './assets/Images/no-background-image.png'" alt="">
          <input type="file" class="absolute" accept="image/*" (change)="onProfileImage('backgroundImage', $event)"/>
        </div>
        <div class="profile-image-container margin-t-20 absolute">
          <img [src]="editProfileForm.controls['profileImage'].value? editProfileForm.controls['profileImage'].value: './assets/Images/no-profile-image.png'" alt="">
          <input type="file" class="absolute" accept="image/*" (change)="onProfileImage('profileImage', $event)"/>
        </div>
      </div>
      <div class="inputs-container">
        <div class="input-form padding-b-10 margin-t-30">
          <p class="text text-start font-regular size-small gray margin-b-6">Category</p>
          <app-select-field
            [data]="categories"
            [placeholder]="'Select Category'"
            [formControl]="categoryFormControl"
            (onSelectEvent)="setValueList('categories', $event, false, null)">
          </app-select-field>
          <div class="chips-container flex justify-start align-start flex-wrap padding-tb-10">
            <app-selector-chip
              class="margin-r-10 margin-tb-10"
              [color]="'blue'"
              [value]="category.value"
              (onDelete)="onChipDelete('categories', index)"
              *ngFor="let category of editProfileForm.controls['categories'].value; let index = index">
            </app-selector-chip>
          </div>
        </div>
      </div>
    </div>
    <div class="right-container padding-lr-10">
      <p class="text text-start font-regular size-small gray margin-b-6">Store Video</p>
        <div class="upload-video-container flex justify-space-between align-center margin-b-30">
        <div class="my-video-container">
          <app-video *ngIf="editProfileForm.controls['video'].value"
            [poster]="editProfileForm.controls['video'].value? editProfileForm.controls['backgroundImage'].value : ''"
            [src]="editProfileForm.controls['backgroundImage'].value? editProfileForm.controls['video'].value : videoFormControl.value">
          </app-video>
          <div class="no-video-container flex justify-center align-center flex-column padding-tb-10" *ngIf="!editProfileForm.controls['video'].value">
            <p class="value text-center font-medium size-small gray capitalize">No posted video</p>
            <div class="icon-button-container flex justify-center align-center padding-tb-10">
              <div class="button-container flex justify-center align-center padding-t-4 padding-l-4">
                <mat-icon class="icon gray" svgIcon="play"></mat-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="button-container flex justify-end align-center relative">
          <app-button [color]="'blue'" [value]="'Upload Video'" (click)="null"></app-button>
          <input type="file" class="absolute" accept="video/*" (change)="onVideo('video', $event)"/>
        </div>
      </div>

      <div class="inputs-container">
        <p class="text text-start font-regular size-small gray margin-b-6">Store Info</p>
        <div class="input-form padding-b-10">
          <app-text-field
            [placeholder]="'Store name'"
            [formControl]="editProfileForm.controls['name']"
            (onInputEvent)="setValue('name', $event)">
          </app-text-field>
        </div>
        <div class="input-form padding-b-10">
          <app-text-field
            [placeholder]="'Store email'"
            [formControl]="editProfileForm.controls['email']"
            (onInputEvent)="setValue('email', $event)">
          </app-text-field>
        </div>
        <div class="input-form padding-b-10">
          <app-text-field
            [placeholder]="'Store website'"
            [formControl]="editProfileForm.controls['website']"
            (onInputEvent)="setValue('website', $event)">
          </app-text-field>
        </div>
        <div class="input-form padding-b-10">
          <app-text-field
            [placeholder]="'Phone number'"
            [formControl]="editProfileForm.controls['phone']"
            (onInputEvent)="setValue('phone', $event)">
          </app-text-field>
        </div>

        <p class="text text-start font-regular size-small gray margin-t-20 margin-b-6">Owner Info</p>
        <div class="input-form padding-b-10">
          <app-text-field
            [placeholder]="'Owner name'"
            [formControl]="editProfileForm.controls['ownerName']"
            (onInputEvent)="setValue('ownerName', $event)">
          </app-text-field>
        </div>
        <div class="input-form padding-b-10">
          <app-text-field
            [placeholder]="'Owner email'"
            [formControl]="editProfileForm.controls['ownerEmail']"
            (onInputEvent)="setValue('ownerEmail', $event)">
          </app-text-field>
        </div>
        <div class="input-form description-form margin-tb-10">
          <p class="text text-start font-regular size-small gray margin-b-6">Description</p>
          <app-text-area
            [placeholder]="'Description'"
            [formControl]="editProfileForm.controls['description']"
            (onInputEvent)="setValue('description', $event)">
          </app-text-area>
        </div>
      </div>
    </div>
  </div>
  <div class="button-container flex justify-space-between align-center padding-tb-20 padding-lr-20 absolute">
    <app-button [value]="'Cancel'" [color]="'gray'" (click)="closeEditProfile()"></app-button>
    <app-button-loader #saveProfileButton [value]="'Save'" [config]="saveProfileButtonConfig" (click)="saveProfile()"></app-button-loader>
  </div>
</div>
