.dialog-container {
  height: 660px;
  overflow: hidden;

  .content-container {
    overflow-y: scroll;

    .left-container {
      width: 400px;
      height: 100%;
      min-height: 500px;

      .images-container {
        .background-image-container {
          width: 100%;
          height: auto;
          max-height: 12rem;
          min-height: 10rem;

          img {
            max-height: 12rem;
            min-height: 10rem;
            width: 100%;
            border-radius: 10px;
            object-fit: cover;
          }

          input {
            opacity: 0;
            cursor: pointer;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

            &::file-selector-button {
              height: 100%;
              cursor: pointer;
            }
          }
        }

        .profile-image-container {
          bottom: 10px;
          left: 10px;
          width: fit-content;

          img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            object-fit: cover;
          }

          input {
            opacity: 0;
            border-radius: 50%;
            cursor: pointer;
            width: 70px;
            height: 70px;
            left: 0;
            top: 0;
            height: 100%;

            &::file-selector-button {
              height: 100%;
              cursor: pointer;
            }
          }
        }
      }

    }

    .right-container {
      width: 400px;
      height: 390px;
      overflow-y: scroll;

      .upload-video-container {
        width: 100%;
        height: auto;

        .my-video-container {
          width: 200px;
          height: 100%;
        }

        .no-video-container {
          width: 200px;
          height: 100%;
          border-radius: 10px;
          border: 3px solid var(--gray-light);
          background-color: var(--white);

          .icon-button-container {
            width: 100%;
            height: auto;

            .button-container {
              width: 30px;
              height: 30px;
              border-radius: 50px;
              background-color: var(--gray-light);
              border: 3px solid var(--gray);

              .icon {
                width: 13px;
                height: auto;
              }
            }
          }
        }

        .button-container {
          width: fit-content;
          height: 100%;
        }
      }

      .inputs-container {
        width: 100%;
        height: auto;

        .description-form {
          height: auto;

          ::ng-deep app-text-area .field-container .input {
            min-height: 300px;
            height: auto;
          }
        }
      }
    }
  }

  .button-container {
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--white);
    z-index: 0;

    input {
      opacity: 0;
      border-radius: 50px;
      cursor: pointer;
      width: 116px;
      height: 70px;
      left: 0;
      top: 0;
      height: 100%;

      &::file-selector-button {
        height: 100%;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 900px) {
  .dialog-container {
    padding-left: 20px;
    padding-right: 20px;

    ::-webkit-scrollbar {
      display: none;
    }

    .content-container {
      display: block;
      height: 100%;

      .left-container,
      .right-container {
        width: 100%;

        .images-container {
          .profile-image-container {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
          }
        }
      }

      .left-container {
        height: 70%;
      }

      .right-container {
        height: 100%;
        min-height: none;
        overflow: initial;
        margin-bottom: 18rem;
        margin-top: 1rem;

        .inputs-container {
          .description-form {
            ::ng-deep app-text-area .field-container {
              height: fit-content;
            }
            ::ng-deep app-text-area .field-container .input {
              margin-bottom: 10rem;
            }

          }
        }

        .upload-video-container {
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          .my-video-container {
            width: 100%;
            margin-bottom: 10px;
          }

          .button-container {
            width: 100%;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
