.dialog-container {
  height: 630px;
  overflow: hidden;

  .content-container {
    width: 400px;
    height: 460px;
    overflow-y: scroll;
    .branch-container{
      width: 100%;
      height: auto;
      .inputs-container{
        width: 100%;
        .input-form{
          width: 100%;
            &.map-form{
              width: 100%;
              height: 200px;
            }
        }
      }
      .remove-container{
        top: 0;
        right: 0;
        .icon{
          width: 17px;
          height: auto;
          cursor: pointer;
        }
      }
    }

    .add-branch-container{
      width: 100%;
      height: 40px;
      border-radius: 50px;
      border: 2px dashed var(--blue-dark);
      cursor: pointer;
    }
  }

  .button-container {
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--white);
    input {
      opacity: 0;
      border-radius: 50px;
      cursor: pointer;
      width: 116px;
      height: 70px;
      left: 0;
      top: 0;
      height: 100%;

      &::file-selector-button {
        height: 100%;
        cursor: pointer;
      }
    }
  }
}
