<div class="dialog-container padding-tb-30 padding-lr-50 relative">
  <div class="text-container flex justify-center align-center">
    <p class="title text-center font-bold size-medium black">Edit Branches</p>
  </div>
  <div class="content-container margin-t-30 margin-b-60 padding-lr-30">
    <div class="branch-container margin-b-30" *ngFor="let storeBranchForm of storeBranchForms; let i = index">
      <div class="branch-info-container relative">
        <div class="country-city-container flex justify-start align-center flex-wrap">
          <p class="text text-start font-medium size-small black">{{storeBranchForm.controls['country'].valid? storeBranchForm.controls['country'].value.value : '[Country]'}} - {{storeBranchForm.controls['city'].valid? storeBranchForm.controls['city'].value.value : '[City]'}}</p>
        </div>
        <div class="address-details-container flex justify-start align-center flex-wrap">
          <p class="text text-start font-regular size-small gray">{{storeBranchForm.controls['addressDetails'].valid? storeBranchForm.controls['addressDetails'].value : '[Address details]'}}</p>
        </div>
        <div class="remove-container absolute" *ngIf="i > 0" (click)="removeBranch(i)">
          <mat-icon class="icon red" svgIcon="circle-minus"></mat-icon>
        </div>
      </div>
      <div class="inputs-container flex justify-start align-start flex-column">
        <div class="input-form padding-t-15">
          <app-select-field [placeholder]="'Select country'" [data]="countries" [formControl]="storeBranchForm.controls['country']" (onSelectEvent)="setValue('country', $event, i)"></app-select-field>
        </div>
        <div class="input-form padding-t-15">
          <app-select-field [placeholder]="'Select city'" [data]="cities" [formControl]="storeBranchForm.controls['city']"  (onSelectEvent)="setValue('city', $event, i)"></app-select-field>
        </div>
        <div class="input-form padding-t-15">
          <app-text-field [placeholder]="'Address details'" [formControl]="storeBranchForm.controls['addressDetails']" (onInputEvent)="setValue('addressDetails', $event, i)"></app-text-field>
        </div>
        <div class="input-form map-form padding-t-15">
          <app-map
            [mapId]="i"
            [lat]="storeBranchForm.controls['lat'].value"
            [lng]="storeBranchForm.controls['lng'].value"
            (mapLatitudeEvent)="setValue('lat', $event, i)"
            (mapLongitudeEvent)="setValue('lng', $event, i)">
          </app-map>
        </div>
      </div>
    </div>

    <div class="add-branch-container flex justify-center align-center blue-dark padding-b-1 font-bold size-regular uppercase" (click)="addNewBranch()">+ Add Branch</div>
  </div>
  <div class="button-container flex justify-space-between align-center padding-tb-20 padding-lr-20 absolute">
    <app-button [value]="'Cancel'" [color]="'gray'" (click)="closeEditProfile()"></app-button>
    <app-button-loader #saveProfileButton [value]="'Save'" [config]="saveBranchesButtonConfig" (click)="saveProfile()"></app-button-loader>
  </div>
</div>
