<div class="button flex justify-center align-center" [ngClass]="{'disabled': config.disabled, 'blue-button': config.isBlue, 'white-button': config.isWhite, 'gray-button': config.isGray, 'orange-button': config.isOrange, 'red-button': config.isRed}" (click)="onClick()">
  <div class="text-container padding-b-1 flex justify-center align-center" [ngClass]="{'loading': loading}">
    <p class="value text-center size-regular font-medium capitalize">{{value}}</p>
  </div>
  <div class="spinner-container padding-t-1 flex justify-center align-center" [ngClass]="{'loading': loading}">
    <div class="spinner"></div>
  </div>
</div>
