.parent-container{
  .inner-container{
    .header-container{
      width: 100%;
      .filter-container{
        width: auto;
      }
    }

    .expansion-panel-container{
      width: 100%;
      height: fit-content;

      .inputs-container{
        width: 100%;
        .input-container{
          width: 500px;
          .input-form{
            width: 100%;
          }
          .price-container{
            width: 100%;
            .price-box{
              min-width: 65px;
              width: fit-content;
              border-radius: 6px;
              box-shadow: 0px 0px 3px 1px var(--gray-light);
            }
          }
        }
      }
    }
    .result-container{
      width: 100%;
      height: auto;
      .cards-container{
        width: fit-content;
        height: auto;
        .card-container{
          width: 300px;
          height: 100%;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .parent-container{
    .inner-container{
      .header-container{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        .text-container{
          width: 100%;
          height: 100%;
          padding: 1rem 0;
          .text{
            text-align: center;
            font-size: 20px;
          }
        }
        .filter-container{
          width: 100%;
          .option-filter-container{
            width: 100%;
            .filter{
              font-size: 0.85rem;
            }
          }
        }
      }
      .result-container{
        .cards-container{
          width: 100%;
        }
      }
    }
  }
}

