.chip {
  min-width: fit-content;
  border-radius: 50px;
  height: 32px;
  animation: scale-in 0.3s;
  .delete-container{
    width: 20px;
    height: 20px;
    background: var(--white);
    border-radius: 51%;

    .icon{
      width: 16px;
      height: auto;
      cursor: pointer;
    }
  }
}
