.page-container{
  .inner-container{
    background: var(--blue-gradient);
    .email-activation-container{
      border-radius: 15px;
      width: 400px;
      height: 400px;
      .image-container{
        width: 100%;
        height: auto;
        img{
          width: 190px;
          height: auto;
          object-fit: cover;
        }
      }
      .text-container{
        width: 100%;
        .title,.sub-title, .note{
          width: 100%;
          span{
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .page-container{
    .inner-container{
      width: 100%;
      .email-activation-container{
        width: 100%;
        .image-container{
          width: 100%;
          img{
            width: 140px;
          }
        }
        .text-container{
          width: 100%;
          .title,.sub-title, .note{
            width: 100%;
            padding-left: 1rem;
            padding-right: 1rem;
          }
        }
      }
    }
  }
}
