<div class="parent-container">
  <div class="inner-container flex justify-start align-start">
    <div class="left-container padding-tb-20 padding-lr-10">
      <div class="store-profile-image-container flex justify-center align-start">
        <div class="image-container">
          <img [src]="profileImage? fileBaseUrl+profileImage : './assets/Images/no-profile-image.png'" alt="">
        </div>
      </div>
      <div class="text-container padding-tb-10">
        <p class="store-name text-center font-extra-bold size-semi-large black">Tesla Inc.</p>
      </div>
      <div class="section incomes-container padding-20">
        <div class="text-container flex jusitfy-start align-center">
          <p class="title text-start font-bold size-small black capitalize">Monthly Incomes</p>
        </div>

        <div class="input-container margin-t-10">
          <div class="input-form">
            <app-select-field [data]="monthlyIncomes?.years" [placeholder]="'Select Year'" [formControl]="monthlyIncomeForm.controls['year']" (onSelectEvent)="setValue('year', $event)"></app-select-field>
          </div>
        </div>

        <div class="cards-container" [ngClass]="{'on-loading' : onIncomesloading}">
          <div class="card-container margin-tb-13" *ngFor="let income of monthlyIncomes?.incomes">
            <p class="dates text-start font-regular size-semi-small gray-super-dark">{{income?.month}} {{currentYear}}</p>
            <div class="income-box flex justify-space-between align-center padding-10" [ngClass]="{'up' : income?.isUp, 'down': !income?.isUp}">
              <p class="price text-start font-medium size-small" [ngClass]="{'up' : income?.isUp, 'down': !income?.isUp}">$ {{income?.price}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="section my-customers-container padding-20 margin-t-10">
        <div class="text-container flex jusitfy-start align-center">
          <p class="title text-start font-bold size-small black capitalize">My Customers</p>
        </div>
        <div class="cards-container" *ngIf="topCustomers.length > 0">
          <div class="card-container flex justify-start align-start margin-tb-10 padding-10" *ngFor="let customer of topCustomers">
            <div class="image-container">
              <img [src]="fileBaseUrl+customer.profileImage" alt="">
            </div>
            <div class="customer-container padding-lr-10">
              <p class="name text-start font-medium size-semi-small ellipse-1 capitalize">{{customer.firstname}} {{customer.lastname}}</p>
              <p class="email text-start font-regular size-semi-small ellipse-1 lowercase">{{customer.email}}</p>
              <div class="count-box flex justify-center align-center white font-medium size-semi-small margin-t-6 padding-lr-6 padding-b-3">{{customer.totalOrders}} orders</div>
            </div>
          </div>
        </div>

        <div class="cards-container" *ngIf="topCustomers.length == 0">
          <app-empty [value]="'No Customer Found'"></app-empty>
        </div>

      </div>
    </div>

    <div class="right-container padding-tb-20 padding-lr-30">
      <div class="section shadow recent-orders-container padding-20 margin-b-50">
        <div class="text-container flex jusitfy-start align-center">
          <p class="title text-start font-bold size-medium black capitalize">Recent Orders</p>
        </div>
        <div class="cards-container margin-t-30" *ngIf="recentOrders.length > 0">
          <div class="card-container padding-6"
            *ngFor="let order of recentOrders">
            <app-order-card
              [data]="order"
              [onClickRoute]="appMainRouteStore">
            </app-order-card>
          </div>
        </div>
        <app-empty *ngIf="recentOrders.length == 0" [value]="'No Recent Orders'"></app-empty>
      </div>

      <div class="section shadow similar-stores-container padding-20 margin-b-50">
        <div class="text-container flex jusitfy-start align-center">
          <p class="title text-start font-bold size-medium black capitalize">Similar Stores</p>
        </div>

        <div class="cards-container flex justify-start align-start flex-wrap" *ngIf="similarStores.length > 0">
          <div class="card-container padding-10" *ngFor="let store of similarStores">
            <app-store-moderate-card
              [data]="store"
              [onClickRoute]="appMainRouteStore">
            </app-store-moderate-card>
          </div>
        </div>
        <app-empty *ngIf="similarStores.length == 0" [value]="'No Similar Stores'"></app-empty>

      </div>

      <div class="section charts-container flex justify-center align-start">
      </div>
    </div>
  </div>
</div>
