.parent-container{
  .inner-container{
    .left-container{
      width: 100%;
      max-width: 300px;
      .store-profile-image-container{
        width: 100%;
        .image-container{
          img{
            border-radius: 50%;
            width: 110px;
            height: 110px;
            object-fit: cover;
          }
        }
      }
      .incomes-container{
        width: 100%;
        .cards-container{
          transition: 0.3s ease-in-out;
          &.on-loading{
            opacity: 0.2;
            transition: 0.3s ease-in-out;
          }
          .card-container{
            .income-box{
              border-radius: 3px;
              width: 100%;
                &.up{
                  background-color: var(--green-light-alpha);
                }
                &.down{
                  background-color: var(--red-light-alpha);
                }
              .price{
                width: 100%;
                &.up{
                  color: var(--green-super-dark);
                }
                &.down{
                  color: var(--red-super-dark);
                }
              }
            }
          }
        }
      }
      .my-customers-container{
        width: 100%;
        .cards-container{
          width: 100%;
          .card-container{
            width: 100%;
            height: fit-content;
            border-radius: 3px;
            .image-container{
              width: 30px;
              height: 30px;
              border-radius: 50%;
              img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
              }
            }
            .customer-container{
              .count-box{
                border-radius: 3px;
                width: fit-content;
                height: 20px;
                background-color: var(--blue);
              }
            }
          }
        }
      }
    }
    .right-container{
      width: 100%;
      height: fit-content;

      .section{
        width: 100%;

        &.recent-orders-container{
          .cards-container{
            display: grid;
            grid-template-columns: 50% 50%;
          }
        }

        &.similar-stores-container{
          .cards-container{
            width: 100%;
            .card-container{
              width: 100%;
              max-width: 300px;
            }
          }
        }
      }
    }
  }
}
