.parent-container{
  .inner-container{
    .left-container{
      width: 100%;
      max-width: 300px;
      .store-profile-image-container{
        width: 100%;
        .image-container{
          img{
            border-radius: 50%;
            width: 110px;
            height: 110px;
            object-fit: cover;
          }
        }
      }
      .incomes-container{
        width: 100%;
        .cards-container{
          transition: 0.3s ease-in-out;
          &.on-loading{
            opacity: 0.2;
            transition: 0.3s ease-in-out;
          }
          .card-container{
            .income-box{
              border-radius: 3px;
              width: 100%;
                &.up{
                  background-color: var(--green-light-alpha);
                }
                &.down{
                  background-color: var(--red-light-alpha);
                }
              .price{
                width: 100%;
                &.up{
                  color: var(--green-super-dark);
                }
                &.down{
                  color: var(--red-super-dark);
                }
              }
            }
          }
        }
      }
      .my-customers-container{
        width: 100%;
        .cards-container{
          width: 100%;
          .card-container{
            width: 100%;
            height: fit-content;
            border-radius: 3px;
            .image-container{
              width: 30px;
              height: 30px;
              border-radius: 50%;
              img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
              }
            }
            .customer-container{
              .count-box{
                border-radius: 3px;
                width: fit-content;
                height: 20px;
                background-color: var(--blue);
              }
            }
          }
        }
      }
    }
    .right-container{
      width: 100%;
      height: fit-content;

      .section{
        width: 100%;

        &.recent-orders-container{
          .cards-container{
            display: grid;
            grid-template-columns: 50% 50%;
          }
        }

        &.similar-stores-container{
          .cards-container{
            width: 100%;
            .card-container{
              width: 100%;
              max-width: 300px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1270.5px){
  .parent-container{
    .inner-container{
      display: block;
      .left-container{
        width: 100%;
        max-width: none;
        .incomes-container, .my-customers-container{
          width: 100%;
          max-width: none;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;
          .input-container{
            width: 100%;
            max-width: 300px;
          }
          .cards-container{
            width: 100%;
            transition: 0.3s ease-in-out;
            &.on-loading{
              opacity: 0.2;
              transition: 0.3s ease-in-out;
            }
            .card-container{
              max-width: 300px;
              width: 100%;
              .income-box{
                border-radius: 3px;
                width: 100%;
                  &.up{
                    background-color: var(--green-light-alpha);
                  }
                  &.down{
                    background-color: var(--red-light-alpha);
                  }
                .price{
                  width: 100%;
                  &.up{
                    color: var(--green-super-dark);
                  }
                  &.down{
                    color: var(--red-super-dark);
                  }
                }
              }
            }
          }
        }
      }

    }
  }
}

@media (max-width: 1000.5px){
  .parent-container{
    .inner-container{
      display: block;
      .right-container{
        width: 100%;
        .section{
          &.recent-orders-container{
            .cards-container{
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              flex-wrap: wrap;
              .card-container{
                width: 100%;
                flex-grow: 1;
                max-width: none;
              }
            }
          }
          &.similar-stores-container{
            .cards-container{
              justify-content: center;
              .card-container{
                width: auto;
                max-width: none;
              }
            }
          }
        }
      }
    }
  }
}


@media (max-width: 650.5px){
  .parent-container{
    .inner-container{
      .right-container{
        padding: 0;
        .section{
          box-shadow: none;
        }
      }
    }
  }
}
