<app-toastr #toastr *ngIf="viewToastr"></app-toastr>
<div class="page-container">
  <div class="inner-container padding-10 flex justify-center align-center flex-column">
    <div class="box-container padding-20 flex justify-start align-center flex-column">
      <div class="box-row flex justify-center align-center flex-column margin-b-30">
        <p class="title padding-t-10 text-center black size-medium font-bold">Reset password</p>
      </div>
      <div class="box-row input-forms flex justify-center align-center flex-column">
        <div class="input-form padding-t-20">
          <app-password-field [placeholder]="'New Password'" [formControl]="resetPasswordForm.controls['password']" (onInputEvent)="setValue('password', $event)"></app-password-field>
        </div>
        <div class="input-form padding-t-20">
          <app-password-field [placeholder]="'Confirm Password'" [formControl]="resetPasswordForm.controls['confirmPassword']" (onInputEvent)="setValue('confirmPassword', $event)"></app-password-field>
        </div>
      </div>
      <div class="box-row button-container flex justify-center align-center relative">
        <app-button-loader #resetPasswordButton [value]="'Reset password'" [config]="buttonConfig" (click)="resetPassword()"></app-button-loader>
      </div>
    </div>
  </div>
</div>
