.parent-container{
  width: 100%;
  .inner-container{
    width: 100%;
    .header-container{
      .text-container{
        height: 100%;

      }
      .item-to-order-container{
        max-width: 50%;
      }
    }
    .body-container{
      width: 100%;
      .row-container{
        width: 100%;
        height: auto;
        .inputs-map-container{
          display: grid;
          grid-template-columns: 50% 50%;
          grid-gap: 10px;
          min-height: 300px;
          .inputs-container{
            width: 100%;
            height: fit-content;
            .input-form{
              width: 50%;
              &.input-textarea-form{
                width: 100%;
                flex-grow: 1;
              }
            }
          }
        }
      }
    }
  }
}
