<div class="parent-container">
  <div class="inner-container">
    <div class="header-container flex justify-space-between align-start">
      <div class="text-container flex justify-center align-start">
        <p class="text text-start font-black size-extra-large black">Request Order</p>
      </div>
      <div class="item-to-order-container flex justify-center align-center">
        <app-item-entry-card [data]="itemToOrder" [showStatus]="false"></app-item-entry-card>
      </div>
    </div>

    <div class="body-container padding-lr-50">
      <div class="row-container flex justify-start align-start flex-column margin-t-50">
        <div class="row-header-container padding-tb-30">
          <p class="title text-start font-bold size-regular black">Receiver Name <span
              class="optional-label font-regular size-semi-small red">*optional</span></p>
        </div>
        <div class="checkbox-container flex justify-start align-center">
          <app-single-checkbox [label]="'Another Recipient?'" (clickEvent)="enableDisabledReceiverInputs($event)">
          </app-single-checkbox>
        </div>
        <div class="inputs-container flex justify-start align-start flex-wrap">
          <div class="input-form padding-lr-3 padding-b-10">
            <app-text-field [placeholder]="'Firstname'" [formControl]="requestOrderForm.controls['receiverFirstname']"
              [disabled]="isInputDisabled" (onInputEvent)="setValue('receiverFirstname', $event)">
            </app-text-field>
          </div>
          <div class="input-form padding-lr-3 padding-b-10">
            <app-text-field [placeholder]="'Lastname'" [formControl]="requestOrderForm.controls['receiverLastname']"
              [disabled]="isInputDisabled" (onInputEvent)="setValue('receiverLastname', $event)">
            </app-text-field>
          </div>
          <div class="input-form padding-lr-3 padding-b-10">
            <app-text-field [placeholder]="'Email'" [formControl]="requestOrderForm.controls['receiverEmail']"
              [disabled]="isInputDisabled" (onInputEvent)="setValue('receiverEmail', $event)">
            </app-text-field>
          </div>
          <div class="input-form padding-lr-3 padding-b-10">
            <app-text-field [placeholder]="'Phone Number'" [formControl]="requestOrderForm.controls['receiverPhone']"
              [disabled]="isInputDisabled" (onInputEvent)="setValue('receiverPhone', $event)">
            </app-text-field>
          </div>
        </div>
      </div>
      <div class="row-container margin-t-50">
        <div class="row-header-container padding-tb-10">
          <p class="title text-start font-bold size-regular black">Delivery Location</p>
        </div>
        <div class="inputs-map-container">
          <div class="inputs-container flex justify-start align-start flex-wrap">
            <div class="input-form padding-lr-3">
              <app-select-field [data]="countries" [placeholder]="'Select Country'"
                [formControl]="requestOrderForm.controls['country']" (onSelectEvent)="setValue('country', $event)">
              </app-select-field>
            </div>
            <div class="input-form padding-lr-3">
              <app-select-field [data]="cities" [placeholder]="'Select City'"
                [formControl]="requestOrderForm.controls['city']"
                [disabled]="!requestOrderForm.controls['country'].valid" (onSelectEvent)="setValue('city', $event)">
              </app-select-field>
            </div>
            <div class="input-form input-textarea-form padding-lr-3 margin-tb-20">
              <app-text-area [placeholder]="'Address Details'"
                [formControl]="requestOrderForm.controls['addressDetails']"
                (onInputEvent)="setValue('addressDetails', $event)">
              </app-text-area>
            </div>
            <div class="input-form input-textarea-form padding-lr-3 margin-tb-20">
              <app-text-area [placeholder]="'Add note here...'" [formControl]="requestOrderForm.controls['note']"
                (onInputEvent)="setValue('note', $event)">
              </app-text-area>
            </div>
          </div>
          <div class="map-selector-container">
            <app-map [lat]="requestOrderForm.controls['latitude'].value"
              [lng]="requestOrderForm.controls['longitude'].value" (mapLatitudeEvent)="setValue('latitude', $event)"
              (mapLongitudeEvent)="setValue('longitude', $event)">
            </app-map>
          </div>
        </div>
      </div>
      <div class="row-container margin-t-50">
        <div class="row-header-container padding-tb-10">
          <p class="title text-start font-bold size-regular black">Colors & Sizes</p>
        </div>

        <div class="colors-container flex justify-start align-start margin-t-10"
          *ngIf="itemToOrder?.colors?.length > 0">
          <div class="color-container margin-r-3" [ngStyle]="{'background-color': color.value}"
            *ngFor="let color of itemToOrder?.colors" (click)="setValue('colors', color)"></div>
        </div>

        <div class="sizes-container flex justify-start align-start margin-t-10" *ngIf="itemToOrder?.sizes?.length > 0">
          <div
            class="size-container flex justify-center align-center font-medium size-semi-small gray-super-dark margin-r-10 margin-b-10 padding-b-1 padding-lr-3"
            *ngFor="let size of itemToOrder?.sizes" (click)="setValue('sizes', size)">
            {{size.number? 'No. '+size.number : size.code}}
          </div>
        </div>

        <div class="colors-sizes-container justify-start align-start flex-wrap margin-t-10"
          *ngIf="itemToOrder?.colorSizes.length > 0">
          <div class="color-sizes-container flex justify-start align-center flex-wrap margin-tb-6"
            *ngFor="let colorSize of itemToOrder?.colorSizes">
            <div class="color-container margin-r-10" [ngStyle]="{'background-color': colorSize?.value}"></div>
            <div
              class="size-container flex justify-center align-center font-medium size-semi-small gray-super-dark padding-lr-10 margin-r-10"
              *ngFor="let size of colorSize?.sizes"
              (click)="setValue('colorSizes', {id: colorSize.id, value: colorSize.value, code: size.code, number: size.number, quantity: size.quantity})">
              {{size.number? 'No. '+size?.number : size?.code}}
            </div>
          </div>
        </div>
      </div>

      <div class="row-container review-order-container margin-t-30 padding-20">
        <div class="row-header-container margin-b-10">
          <p class="title text-start font-extra-bold size-medium black">Order Review</p>
        </div>
        <div class="section-container margin-t-10">
          <div class="text-container padding-tb-3">
            <p class="title text-start font-medium size-regular black">Receiver</p>
            <p class="value text-start font-regular size-small gray-dark">Leonel Messi <span
                class="dot font-black size-medium relative">.</span> leomessi@email.com <span
                class="dot font-black size-medium relative">.</span> +961 12 121212</p>
          </div>
        </div>
        <div class="section-container margin-t-10">
          <div class="text-container padding-tb-3">
            <p class="title text-start font-medium size-regular black">Location</p>
            <p class="value text-start font-regular size-small gray-dark margin-b-3">Lebanon, Beirut (10, 30)</p>
            <p class="value text-start font-regular size-small gray-dark margin-b-3">Address Details Lorem ipsum dolor
              sit amet consectetur adipisicing elit. Deleniti, dolore.</p>
            <p class="value text-start font-regular size-small gray-dark margin-b-3">* Note Lorem ipsum dolor sit amet,
              consectetur adipisicing elit. Autem, aut. *</p>
          </div>
        </div>
        <div class="section-container margin-t-10">
          <div class="text-container padding-tb-3">
            <p class="title text-start font-medium size-regular black">Colors & Sizes</p>
            <div class="colors-container flex justify-start align-start flex-column"
              *ngIf="itemToOrder?.colors?.length > 0">
              <div class="box-container flex justify-start align-center margin-t-10"
                *ngFor="let color of requestOrderForm.controls['colors'].value; let index = index">
                <div class="color-container margin-r-3" [ngStyle]="{'background-color': color.value}"></div>
                <app-button-quantity [quantity]="color.quantity" [maxQuantity]="color.maxQuantity"
                  (onCounterClick)="updateQuantity('colors', $event, index)"></app-button-quantity>
              </div>
            </div>
            <div class="sizes-container flex justify-start align-start flex-column"
              *ngIf="itemToOrder?.sizes?.length > 0">
              <div class="box-container flex justify-start align-center margin-t-10"
                *ngFor="let size of requestOrderForm.controls['sizes'].value; let index = index">
                <div
                  class="size-container flex justify-center align-center font-medium size-semi-small gray-super-dark margin-r-10 margin-b-10 padding-b-1 padding-lr-3">
                  {{size.number? 'No. '+size.number : size.code}}</div>
                <app-button-quantity class="margin-b-10" [quantity]="size.quantity" [maxQuantity]="size.maxQuantity"
                  (onCounterClick)="updateQuantity('sizes', $event, index)"></app-button-quantity>
              </div>
            </div>

            <div class="colors-sizes-container justify-start align-start flex-wrap margin-t-10"
              *ngIf="itemToOrder?.colorSizes.length > 0">
              <div class="color-sizes-container flex justify-start align-center flex-wrap margin-tb-6"
                *ngFor="let colorSize of requestOrderForm.controls['colorSizes'].value; let colorIndex = index">
                <div class="color-container margin-r-10" [ngStyle]="{'background-color': colorSize?.value}"></div>
                <div class="box-container flex justify-start align-center margin-t-10"
                  *ngFor="let size of colorSize.sizes; let sizeIndex = index">
                  <div
                    class="size-container flex justify-center align-center font-medium size-semi-small gray-super-dark margin-r-10 margin-b-10 padding-b-1 padding-lr-3">
                    {{size.number? 'No. '+size?.number : size?.code}}</div>
                  <app-button-quantity class="margin-b-10 margin-r-10" [quantity]="size.quantity"
                    [maxQuantity]="size.maxQuantity"
                    (onCounterClick)="updateQuantity('colorSizes', $event, [colorIndex, sizeIndex])"></app-button-quantity>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section-container">
          <div class="text-container padding-tb-3">
            <p class="title text-start font-medium size-regular black">Prices</p>
          </div>
          <div class="discount-price-container flex justify-start align-center margin-t-1">
            <p class="dicount font-regular size-regular red-dark margin-r-10">-{{itemToOrder?.discount}}%</p>
            <p class="price font-medium size-regular black"><sup class="size-extra-small">$</sup>{{(itemToOrder?.price)}}</p>
          </div>
        </div>
        <div class="section-container flex justify-end align-center margin-t-30">
          <div class="button-container">
            <app-button-loader #requestOrderButton [value]="'Request Order'" [config]="buttonConfig"
              (click)="requestOrder()"></app-button-loader>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
