.parent-container{
  width: 100%;
  .inner-container{
    width: 100%;
    .header-container{
      .text-container{
        height: 100%;

      }
      .item-to-order-container{
        max-width: 50%;
      }
    }
    .body-container{
      width: 100%;
      .row-container{
        width: 100%;
        height: auto;
        .inputs-map-container{
          display: grid;
          grid-template-columns: 50% 50%;
          grid-gap: 10px;
          min-height: 300px;
          .inputs-container{
            width: 100%;
            height: fit-content;
            .input-form{
              width: 50%;
              &.input-textarea-form{
                width: 100%;
                flex-grow: 1;
              }
            }
          }
        }

        .colors-container{
          width: 100%;
          height: fit-content;
          .color-container{
            width: 30px;
            height: 30px;
            border-radius: 50px;
            cursor: pointer;
          }
        }
        .sizes-container{
          width: 100%;
          height: auto;
          .size-container {
            width: 50px;
            height: 50px;
            border-radius: 3px;
            background-color: var(--gray-light-alpha);
            border: 1px solid var(--gray-light);
            transition: 0.3s ease-in-out;
            cursor: pointer;
          }
        }
        .colors-sizes-container{
          width: fit-content;
          .color-sizes-container{
            width: 100%;
            .color-container{
              width: 30px;
              height: 30px;
              border-radius: 50px;
              cursor: pointer;
            }
            .size-container {
              width: fit-content;
              min-width: 60px;
              height: 30px;
              border-radius: 3px;
              background-color: var(--gray-light-alpha);
              border: 1px solid var(--gray-light);
              transition: 0.3s ease-in-out;
              cursor: pointer;
            }
          }
        }

      }
    }
  }
}

@media (max-width: 1000px) {
  .parent-container{
    .inner-container{
      .header-container{
        .text-container{
          .text{
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}

@media (max-width: 880.5px) {
  .parent-container{
    width: 100%;
    .inner-container{
      width: 100%;
      .body-container{
        padding: 0;
        .row-container{
          .inputs-container{
            .input-form{
              flex-grow: 1;
            }
          }
          .inputs-map-container{
            display: block;
            min-height: none;
            .inputs-container{
              width: 100%;
              .input-form{
                width: 100%;
                padding: 10px 0;
              }
            }
          }
          .map-selector-container{
            height: 300px;
            width: 100%;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 776px) {
  .parent-container{
    .inner-container{
      .header-container{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        .text-container{
          padding-bottom: 3rem;
          .text{
            font-size: 1.3rem;
          }
        }
        .item-to-order-container{
          max-width: none;
        }
      }
    }
  }
}

