.field-container {
  width: 100%;
  height: 35px;

  .select {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: var(--white);
    border: 1.3px solid var(--gray-light);
    transition: 0.2s ease-in-out;
    resize: none;
    min-height: 36px;
    height: fit-content;
    cursor: pointer;
    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    &:focus {
      border-color: var(--gray-dark);
      transition: 0.2s ease-in-out;
    }

    &.danger {
      border-color: var(--red);
    }

    .icon-container {
      top: 10px;
      right: 10px;

      .icon {
        transition: 0.2s ease-in-out;
        transform: rotate(0deg);
        width: 7px;
        height: auto;
        color: var(--gray);

        &.active {
          transition: 0.2s ease-in-out;
          transform: rotate(90deg);
        }
      }
    }

    .select-options-container {
      display: none;
      z-index: 1;
      top: 45px;
      left: 0;
      width: 100%;
      max-height: 160px;
      height: fit-content;
      border-radius: 4px;
      background-color: var(--white);
      box-shadow: 0px 0px 3px 1px var(--gray-light);
      overflow: hidden;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 13px;
      }

      &::-webkit-scrollbar-thumb {
        background: #f5f6f7;
        border-radius: 3px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      .option-container {
        width: 100%;
        height: 40px;
        color: var(--dark);
        transition: 0.3s ease-in-out;

        &:hover {
          background-color: var(--gray-light);
          transition: 0.3s ease-in-out;
        }
      }
    }

    &.active {
      .select-options-container {
        position: absolute;
        display: block;
        animation: drop-down 0.3s;
      }
    }
  }
}
