@keyframes fade-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes translate-right-left {
  0%{
    opacity: 0;
    transform: translateX(100%);
  }
  100%{
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes scale-in {
  0%{
    transform: scale(0,0);
  }
  100%{
    transform: scale(1,1);
  }
}

@keyframes skeleton-animation {
  0% {
      background-position: 200% 0;
  }

  100% {
      background-position: -200% 0;
  }
}
