@font-face {
  font-family: 'tyenda-thin';
  src: url('../assets/Fonts/Tyenda-Thin.ttf');
}
@font-face {
  font-family: 'tyenda-light';
  src: url('../assets/Fonts/Tyenda-Light.ttf');
}
@font-face {
  font-family: 'tyenda-extra-light';
  src: url('../assets/Fonts/Tyenda-ExtraLight.ttf');
}
@font-face {
  font-family: 'tyenda-regular';
  src: url('../assets/Fonts/Tyenda-Regular.ttf');
}
@font-face {
  font-family: 'tyenda-medium';
  src: url('../assets/Fonts/Tyenda-Medium.ttf');
}
@font-face {
  font-family: 'tyenda-semi-bold';
  src: url('../assets/Fonts/Tyenda-SemiBold.ttf');
}
@font-face {
  font-family: 'tyenda-bold';
  src: url('../assets/Fonts/Tyenda-Bold.ttf');
}
@font-face {
  font-family: 'tyenda-extra-bold';
  src: url('../assets/Fonts/Tyenda-ExtraBold.ttf');
}
@font-face {
  font-family: 'tyenda-black';
  src: url('../assets/Fonts/Tyenda-Black.ttf');
}
