::-webkit-scrollbar{
  width: 10px;
  background-color: transparent; /* Set the background color of the scrollbar track */
}
::-webkit-scrollbar-thumb{
  border-radius: 50px;
  background-color: var(--gray-light);
}
