.avatar-container{
  width: fit-content;
  height: auto;
  .image-container{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 1px 4px 1px var(--gray-alpha);
    cursor: pointer;

    img{
      border-radius: 50%;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
