<app-toastr #toastr *ngIf="viewToastr"></app-toastr>
<div class="page-container">
  <div class="inner-container padding-10 flex justify-center align-center flex-column">
    <div class="box-container padding-20 flex justify-start align-center flex-column">
      <div class="box-row flex justify-center align-center flex-column">
        <p class="title padding-t-10 text-center black size-medium font-bold">Forget password</p>
        <p class="sub-title padding-t-20 text-center gray size-regular font-medium">Please enter the email address associated with your account, and we will send you a link to reset your password</p>
      </div>
      <div class="box-row input-forms flex justify-center align-center flex-column">
        <div class="input-form padding-t-20">
          <app-text-field [placeholder]="'Email'" [formControl]="forgetPasswordForm.controls['email']" (onInputEvent)="setValue('email', $event)"></app-text-field>
        </div>
      </div>
      <div class="box-row button-container flex justify-center align-center relative">
        <app-button #sendEmailButton [value]="'Send email'" [config]="buttonConfig" (click)="send()"></app-button>
      </div>
    </div>
    <div class="login-container flex justify-center align-center padding-t-30">
      <p class="text-center size-regular font-regular white">Back to <span class="login cyan-light" (click)="backToLogin()">Login</span></p>
    </div>
  </div>
</div>
