.page-container{
  .inner-container{
    background: var(--blue-gradient);
    .box-container{
      width: 420px;
      height: 570px;
      border-radius: 50px;
      box-shadow: 0 0 100px 10px #34343443;
      background-color: var(--white);
      animation: fade-in 0.2s ease-in-out;
      .box-row{
        width: 100%;
        &.stepper-container{
          width: 100%;
        }
        &.inner-content-container{
          height: 62%;
          width: 100%;
          overflow: hidden;
          overflow-y: scroll;
        }
        &.button-container{
          width: 100%;
          bottom: 30px;
        }
      }
    }
    .login-container{
      width: 100%;
      .login{
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 600px) {
  .page-container{
    .inner-container{
      .box-container{
        width: 100%;
        .box-row{
          width: 100%;
          .title{
            width: 90%;
            font-size: 17px;
          }
          .input-form{
            width: 80%;
          }
        }
      }
    }
  }
}
