<div class="stepper-container">
  <div class="stepper-inner-container padding-10 flex justify-start align-start flex-column">
    <div class="input-form padding-t-15">
      <p class="size-small red-light font-regular">*optional</p>
      <app-select-field [placeholder]="'Select category'" [data]="categories" [formControl]="storeCategoryForm.controls['category']" (onSelectEvent)="setValue('category', $event)"></app-select-field>
    </div>
    <div class="chips-container margin-t-10 flex justify-start align-start flex-wrap">
      <div class="chip-container padding-r-3" *ngFor="let category of selectedCategory; let i = index">
        <app-selector-chip [data]="category" (onDelete)="deleteCategory(i)"></app-selector-chip>
      </div>
    </div>
  </div>
</div>
