.parent-container{
  .inner-container{
    .header-container{
      width: 100%;
      .filter-container{
        width: auto;
        .option-filter-container{
          width: auto;
          min-width: 100px;
          cursor: pointer;
          border: 1px solid var(--blue-dark);
          transition: 0.3s ease-in-out;
          .filter{
            color: var(--blue-dark);
          }

          &:first-child{
            border-radius: 6px 0 0 6px;
          }
          &:last-child{
            border-radius: 0 6px 6px 0;
          }
          &.active{
            background-color: var(--blue-dark);
            .filter{
              color: var(--white);
            }
          }
        }
      }
    }

    .search-filter-container{
      width: 100%;
      height: fit-content;
      .inputs-container{
        width: 100%;
        .input-container{
          width: 100%;
          .price-container{
            width: 100%;
            .price-box{
              min-width: 65px;
              width: fit-content;
              border-radius: 6px;
              box-shadow: 0px 0px 3px 1px var(--gray-light);
            }
          }
        }
      }
      .overview-container{
        width: 500px;
        min-height: 230px;
        height: fit-content;
        border-radius: 20px;
        box-shadow: 0px 1px 3px 2px var(--gray-light);
        .key-value-container{
          width: 100%;
          .key-container{
            width: 100px;
          }
          .value-container{
            width: 100%;
          }
        }
      }
    }
    .result-container{}
  }
}
