<div class="card-container flex justify-start align-start" (click)="openItemPage()">
  <div class="image-container">
    <img [src]="data?.imageUrl" alt="">
  </div>
  <div class="info-container padding-lr-6">
    <p class="value text-start font-bold size-small capitalize black">{{data?.value}}</p>
    <app-badge [color]="'orange'" [value]="data?.rate+'/5'"></app-badge>
    <div class="discount-price-container flex justify-start align-center margin-t-1">
      <p class="dicount font-regular size-regular red-dark margin-r-10">-{{data?.discount}}%</p>
      <p class="price font-medium size-regular black"><sup class="size-extra-small">$</sup>{{data?.price}}</p>
    </div>
    <p class="count font-regular size-extra-small gray-dark" *ngIf="showStatus">{{data?.countLikes}} likes   {{data?.countOrders}} orders</p>
  </div>
</div>
