.card-container{
  width: 100%;
  height: auto;
  cursor: pointer;

  .image-container{
    width: 130px;
    border-radius: 6px;
    img{
      width: 100%;
      height: 65px;
      object-fit: scale-down;
      border-radius: 6px;
    }
  }

  .info-container{
    width: 100%;

  }
}
