<div #slider class="slider-container relative">

  <div #content class="slider-inner-container flex justify-start align-start">
    <ng-content></ng-content>
  </div>

  <div class="arrow-container left-arrow-container flex justify-center align-center absolute padding-lr-10" (click)="onLeftClick()" *ngIf="showLeftArrow && !isTouchableDevice">
    <div class="icon-container flex justify-center align-center padding-t-5">
      <mat-icon class="icon gray-dark" svgIcon="arrow-right"></mat-icon>
    </div>
  </div>
  <div class="arrow-container right-arrow-container flex justify-center align-center absolute padding-lr-10" (click)="onRightClick()" *ngIf="showRightArrow  && !isTouchableDevice">
    <div class="icon-container flex justify-center align-center padding-t-5">
      <mat-icon class="icon gray-dark" svgIcon="arrow-right"></mat-icon>
    </div>
  </div>

</div>
