<div class="parent-container padding-50">
  <div class="inner-container">
    <div class="header-container">
      <p class="item-name font-black size-large black">{{item?.value}}</p>
      <p class="timestamp font-regular size-small gray-dark">Posted {{item?.createdAt | timestamp}}</p>
      <div class="store-info-container flex justify-start align-center padding-tb-10">
        <app-avatar [src]="item?.storeImage"></app-avatar>
        <p class="store-name font-bold size-regular black margin-lr-10">{{item?.storeName}}</p>
      </div>
    </div>
    <div class="filter-container flex justify-end align-center">
      <app-options-bar
        [options]="FilterIndexConfig.options"
        [activeIndex]="FilterIndexConfig.active"
        (onSelectEvent)="setFilterIndex($event)">
      </app-options-bar>
    </div>
    <div class="body-container padding-tb-50">
      <router-outlet (activate)="onComponentActivation($event)"></router-outlet>
    </div>
  </div>
</div>
