<div class="row text-editor">
  <div class="header-container flex justify-space-between align-center">

    <div class="text-container">
      <p class="text text-start font-medium size-regular gray-super-dark text-start ellipse-1">{{placeholder}}</p>
    </div>

    <div class="style-btns">
      <button class="btn font-medium size-extra-small padding-t-5 margin-l-10 gray-dark bold" (click)="makeBold()" *ngIf="isBold" mat-mini-fab aria-label="Bold">
        <mat-icon>format_bold</mat-icon>
      </button>
      <button class="btn font-medium size-extra-small padding-t-5 margin-l-10 gray-dark italic" (click)="makeItalic()" *ngIf="isItalic" mat-mini-fab aria-label="Italic">
        <mat-icon>format_italic</mat-icon>
      </button>
      <button class="btn font-medium size-extra-small padding-t-5 margin-l-10 gray-dark list" (click)="makeUnorderedList()" *ngIf="isUnorderedList" mat-mini-fab
        aria-label="Unordered List">
        <mat-icon>format_list_bulleted</mat-icon>
      </button>
      <button class="btn font-medium size-extra-small padding-t-5 margin-l-10 gray-dark list" (click)="makeOrderedList()" *ngIf="isOrderedList" mat-mini-fab
        aria-label="Ordered List">
        <mat-icon>format_list_numbered</mat-icon>
      </button>
      <!-- Add as many options as you want -->
      <!-- ... -->
    </div>
  </div>
  <div #content
    (input)="modifyText()"
    class="content font-regular size-small padding-20"
    [ngClass]="{'invalid': formIsDirty && !formControl.valid}"
    contenteditable="true" spellcheck="false"></div>
</div>
