<app-toastr #toastr *ngIf="viewToastr"></app-toastr>
<div class="navbar-container">
  <div class="inner-container padding-3 padding-lr-30 flex justify-start align-center">
    <div class="logo-container flex justify-center align-center">
      <img src="./assets/Icons/Icon 3.png" alt="tyenda-logo">
    </div>
    <div class="links-container padding-lr-50 flex justify-start align-center" [ngClass]="{'opened' : isLinksOpened}">
      <div class="link-container padding-lr-10 flex justify-center align-center">
        <p class="link text-center capitalize font-regular size-regular white" (click)="onLinkClick('home')">Home</p>
      </div>
      <div class="link-container padding-lr-10 flex justify-center align-center">
        <p class="link text-center capitalize font-regular size-regular white" (click)="onLinkClick('search')">Search</p>
      </div>
      <div class="link-container padding-lr-10 flex justify-center align-center">
        <p class="link text-center capitalize font-regular size-regular white" (click)="onLinkClick('orders')">Orders</p>
      </div>
      <div class="link-container padding-lr-10 flex justify-center align-center">
        <p class="link text-center capitalize font-regular size-regular white" (click)="onLinkClick('cart')">Cart</p>
      </div>
    </div>
    <div class="others-container flex justify-end align-end">
      <div class="icons-container flex justify-center align-center">
        <div class="icon-container padding-lr-6 flex justify-center align-center relative" (focusout)="onFocusOut()" tabindex="1">
          <mat-icon class="icon white" svgIcon="bell" (click)="onFocus(1)"></mat-icon>
          <div class="notifications-container padding-6 absolute" [ngClass]="{'show': optionsOpenIndex == 1}">
            <div class="notification-container padding-10 margin-b-3" *ngFor="let notification of notifications">
              <app-notification-card [notification]="notification" (onClickEvent)="openNotification($event)"></app-notification-card>
            </div>
          </div>
        </div>
      </div>
      <div class="profile-container padding-10 flex justify-center align-center relative" (focusout)="onFocusOut()" tabindex="1">
        <div class="image-container flex justify-center align-center" (click)="onFocus(2)">
          <img [src]="profileImage? fileBaseUrl+profileImage : './assets/Images/no-profile-image.png'" alt="">
        </div>
        <div class="options-container padding-20 absolute" [ngClass]="{'show': optionsOpenIndex == 2}">
          <div class="option-container margin-b-3" (click)="editProfile()">
            <p class="value text-start font-medium size-regular black padding-9">Edit profile</p>
          </div>
          <div class="option-container margin-b-3" (click)="changePassword()">
            <p class="value text-start font-medium size-regular black padding-9">Change password</p>
          </div>
          <div class="option-container margin-b-3" (click)="logout()">
            <p class="value text-start font-medium size-regular red padding-9">Logout</p>
          </div>
        </div>
      </div>
      <div class="hamburger-container padding-lr-10 flex justify-center align-center">
        <div class="hamburger flex justify-space-between align-center flex-column" [ngClass]="{'opened' : isLinksOpened}" (click)="openCloseLinks()">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
    </div>
  </div>
</div>
