<div class="store-container margin-t-30 padding-tb-10">
  <div class="images-container relative" (click)="openStoreProfile()">
    <img class="background-image" [src]="data?.backgroundImage? fileBaseUrl+data?.backgroundImage : './assets/Images/no-background-image.png'" alt="">
    <div class="profile-image-container absolute">
      <img class="profile-image padding-6" [src]="data.profileImage? fileBaseUrl+data.profileImage : './assets/Images/no-profile-image.png'" alt="">
    </div>
  </div>
  <div class="store-info-container padding-tb-10">
    <div class="info-container" (click)="openStoreProfile()">
      <p class="title text-start font-extra-bold size-medium black ellipse-1">{{data.name}}</p>
      <p class="timestamp text-start font-regular size-semi-small gray ellipse-1">Created {{data.createdAt | timestamp}}</p>
      <p class="description text-start font-regular size-semi-small gray-dark ellipse-3 margin-t-10">{{data.description}}</p>
    </div>

    <div class="key-value-container flex justify-start align-center margin-t-20">
      <div class="key-container flex justify-start align-start">
        <p class="key text-start font-bold size-small black">Owner</p>
      </div>
      <div class="value-container flex justify-start align-start">
        <p class="value text-start font-regular size-semi-small cyan ellipse-1">{{data.ownerName}}</p>
      </div>
    </div>

    <div class="key-value-container flex justify-start align-center">
      <div class="key-container flex justify-start align-start">
        <p class="key text-start font-bold size-small black">Phone</p>
      </div>
      <div class="value-container flex justify-start align-start">
        <p class="value text-start font-regular size-semi-small cyan ellipse-1">{{data.phone}}</p>
      </div>
    </div>

    <div class="key-value-container flex justify-start align-center">
      <div class="key-container flex justify-start align-start">
        <p class="key text-start font-bold size-small black">Email</p>
      </div>
      <div class="value-container flex justify-start align-start">
        <p class="value text-start font-regular size-semi-small underline cyan ellipse-1">{{data.email}}</p>
      </div>
    </div>
  </div>

  <div class="buttons-container flex justify-space-between align-center flex-wrap margin-t-20" *ngRolePermission="'Customer'">
    <app-button [color]="'gray'" [value]="!data.isAddedToCart? 'Add to cart' : 'Remove from cart'" (click)="addRemoveCart()"></app-button>
    <app-button [color]="!data.isFollowed? 'red' : 'red-white'" [value]="!data.isFollowed? 'Follow': 'Unfollow'" (click)="followUnfollow()"></app-button>
  </div>
</div>
