.parent-container{
  .inner-container{
    .left-container{
      width: 100%;
      max-width: 330px;
      .section{
        .item-card-container{
          width: 100%;
        }
      }
    }
    .right-container{
      width: 100%;
      height: fit-content;
      .cards-container{
        width: 100%;
        .card-container{
          width: 100%;
          max-width: 300px;
        }
      }
      .order-cards-container{
        display: grid;
        grid-template-columns: 50% 50%;
        .order-card-container{
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .parent-container{
    .inner-container{
      .right-container{
        .section{
          .order-cards-container{
            display: block;
            .order-card-container{
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1065px) {
  .parent-container{
    .inner-container{
      display: block;
      .left-container,.right-container{
        .section{
          .text-container{
            justify-content: center;
            .title{
              font-size: 20px;
            }
          }
        }
      }
      .left-container{
        max-width: none;
      }
      .right-container{
        .section{
          .cards-container{
            justify-content: center;
            .card-container{
              max-width: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 670px) {
  .overview-section, .recent-orders-section{
    box-shadow: none;
    padding: 0;
  }
}
