.toastr-container{
  width: fit-content;
  min-width: 300px;
  min-height: 80px;
  height: fit-content;
  border-radius: 10px;
  background-color: var(--white);
  top: 2rem;
  right: -19rem;
  opacity: 0;
  transition: 0.3s ease-in-out;
  z-index: 2;
  box-shadow: 0 1px 3px 1px var(--gray-alpha);
  &.display{
    transition: 0.3s ease-in-out;
    right: 2rem;
    opacity: 1;
  }

  .toastr-inner-container{
    width: 100%;
    height: 100%;
    .text-container{
      width: 100%;
      height: 100%;
      p{
        width: 100%;
      }
    }
    .close-container{
      width: auto;
      .icon{
        width: 15px;
        height: auto;
        cursor: pointer;
      }
    }
  }
}
