<div class="item-container margin-t-30 padding-tb-10">
  <div class="store-container flex justify-start align-center">
    <app-avatar [src]="'https://lh3.googleusercontent.com/COxitqgJr1sJnIDe8-jiKhxDx1FrYbtRHKJ9z_hELisAlapwE9LUPh6fcXIfb5vwpbMl4xl9H9TRFPc5NOO8Sb3VSgIBrfRYvW6cUA'"></app-avatar>
    <div class="info-container padding-l-10 flex justify-center align-start flex-column">
      <p class="name text-start font-semi-bold size-regular black capitalize">Google Inc.</p>
      <p class="email text-start font-medium size-small cyan lowercase">google@email.com</p>
    </div>
  </div>
  <div class="info-container margin-tb-10">
    <div class="image-container relative">
      <img src="https://www.cnet.com/a/img/resize/bebef835df90640f9aa2e4a2f2a2699cf53a301f/hub/2020/10/26/b60bfe6f-3193-4381-b0d4-ac628cdcc565/img-1419.jpg?auto=webp&width=1200" alt="">
      <div class="badge-rate-container absolute">
        <app-badge [color]="'var(--orange)'" [value]="'4/5'"></app-badge>
      </div>
      <div class="badge-discount-price-container flex justify-start align-center absolute">
        <div class="badge-discount-container">
          <app-badge [color]="'var(--red-dark)'" [value]="'20%'"></app-badge>
        </div>
        <div class="badge-price-container margin-l-3">
          <app-badge [color]="'var(--green-super-dark)'" [value]="'200$'"></app-badge>
        </div>
      </div>
    </div>
    <div class="text-container flex justify-start align-start flex-column padding-tb-10">
      <p class="name text-start font-bold size-medium black">Play Station 5</p>
      <p class="description text-start font-regular size-small gray-super-dark ellipse-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia possimus, enim iusto delectus suscipit voluptatibus ex accusantium! Tempore dicta consequuntur dolorum unde fuga incidunt doloremque culpa, voluptas quam maxime nam sint. Officia maxime assumenda expedita, aliquid neque velit eos totam ullam minima minus, quis accusamus consequatur quod, commodi possimus odio.</p>
    </div>
  </div>
  <div class="buttons-container flex justify-space-between align-center margin-t-20">
    <div class="chip-button gray">
      <p class="value">Add to cart</p>
    </div>
    <div class="chip-button blue">
      <p class="value">Order now</p>
    </div>
  </div>
</div>
