<div class="comments-container padding-20">
  <div class="text-container flex justify-center align-center margin-b-30">
    <p class="title text-center font-bold size-medium black">Comments</p>
  </div>
  <div class="cards-container flex justify-start align-start flex-column">
    <div class="card-container" *ngFor="let comment of comments">
      <app-comment-card [data]="comment" (onDeleteEvent)="deleteComment($event)"></app-comment-card>
    </div>
  </div>
  <div class="input-container relative">
    <app-text-field
      [placeholder]="'Add a comment...'"
      [formControl]="commentForm.controls['comment']"
      (onInputEvent)="setValue('comment', $event)">
    </app-text-field>
    <div class="send-container flex justify-center align-center padding-b-1 absolute" (click)="addComment()">
      <p class="value text-center font-regular size-small gray-super-dark">Send</p>
    </div>
  </div>
</div>
