.comments-container{
  .cards-container{
    min-height: 300px;
    max-height: 450px;
    overflow: scroll;
    .card-container{
      width: 100%;
    }
  }
  .input-container{
    width: 100%;
    height: 100%;

    app-text-field{
      ::ng-deep .field-container input{
        padding-right: 5rem;
      }
    }
    .send-container{
      width: 60px;
      height: 30px;
      background-color: var(--gray-light);
      border-radius: 3px;
      top: 3px;
      right: 3px;
      border: 1px solid transparent;
      transition: 0.3s ease-in;
      cursor: pointer;
      &:active{
        border: 1px solid var(--gray-dark);
        transition: 0.3s ease-in;
      }
    }
  }
}

@media (max-width: 500px) {
  .comments-container{
    padding: 12px;
  }
}
